<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityLevelBrightness</key>
	<string>labelOrScope</string>
	<key>cacheFromBuffer</key>
	<string>coordinatorBridgeShade</string>
	<key>memberBeyondWork</key>
	<string>canvasThanLayer</string>
	<key>parallelMomentumStyle</key>
	<string>cubeAboutComposite</string>
	<key>resultPrototypeResponse</key>
	<string>histogramScopeColor</string>
	<key>temporaryProviderSkewy</key>
	<string>marginAndCycle</string>
</dict>
</plist>
