<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterWithoutParameter</key>
	<string>mobileStateBehavior</string>
	<key>custompaintFunctionMomentum</key>
	<string>configurationKindLeft</string>
	<key>declarativeDropdownbuttonContrast</key>
	<string>lostAllocatorBrightness</string>
	<key>intermediateCompletionColor</key>
	<string>injectionNearProxy</string>
	<key>positionedPatternScale</key>
	<string>frameSingletonMargin</string>
	<key>timerWithoutBuffer</key>
	<string>protectedTextureInterval</string>
</dict>
</plist>
