<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationAgainstVisitor</key>
	<string>gemTypeState</string>
	<key>effectLikeActivity</key>
	<string>tweenPhaseInset</string>
	<key>keyIntensityHue</key>
	<string>navigatorWithContext</string>
	<key>managerVersusAction</key>
	<string>brushBridgeFeedback</string>
	<key>vectorPrototypeFlags</key>
	<string>textAwayType</string>
</dict>
</plist>
