<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorAmongProxy</key>
	<string>allocatorJobDensity</string>
	<key>capacitiesObserverKind</key>
	<string>futureOutsideProxy</string>
	<key>directLabelCount</key>
	<string>capsuleWithoutParam</string>
	<key>globalTextfieldForce</key>
	<string>challengeExceptDecorator</string>
	<key>groupMethodDirection</key>
	<string>eventScopeSaturation</string>
	<key>hyperbolicKernelInterval</key>
	<string>futureDespiteWork</string>
	<key>offsetObserverName</key>
	<string>controllerBesideJob</string>
	<key>smartInkwellInteraction</key>
	<string>fragmentStageFlags</string>
</dict>
</plist>
