<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fixedCapacitiesMargin</key>
	<string>borderThanPattern</string>
	<key>inactiveEffectTheme</key>
	<string>basicGrainDuration</string>
	<key>inactiveNavigatorOrigin</key>
	<string>iterativeLabelRotation</string>
	<key>mobxFormOffset</key>
	<string>nextRectDistance</string>
	<key>slashTierCount</key>
	<string>desktopQueryBottom</string>
	<key>spriteFrameworkVisibility</key>
	<string>accessoryMementoMomentum</string>
	<key>staticExceptionAppearance</key>
	<string>tweenFacadeStatus</string>
	<key>streamNumberSize</key>
	<string>completionBridgeCenter</string>
</dict>
</plist>
