<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorProcessTag</key>
	<string>slashShapeSkewx</string>
	<key>firstAllocatorBound</key>
	<string>titleAsProxy</string>
	<key>flexDespiteStructure</key>
	<string>layoutParameterName</string>
	<key>observerMediatorAlignment</key>
	<string>assetThroughMethod</string>
	<key>uniqueUtilVisible</key>
	<string>textVariableSize</string>
</dict>
</plist>
