<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicObserverAcceleration</key>
	<string>opaqueExpandedSkewy</string>
	<key>builderWithoutForm</key>
	<string>equipmentExceptSingleton</string>
	<key>layerUntilActivity</key>
	<string>menuSystemMomentum</string>
	<key>mainTaskVisibility</key>
	<string>reductionParamVisible</string>
	<key>overlayMediatorStatus</key>
	<string>equalizationLikeShape</string>
	<key>signatureJobEdge</key>
	<string>roleWithoutCommand</string>
	<key>uniformAsyncPosition</key>
	<string>semanticAccessoryType</string>
</dict>
</plist>
