<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonKindForce</key>
	<string>subscriptionObserverTheme</string>
	<key>channelKindKind</key>
	<string>painterAndActivity</string>
	<key>crudeAxisFeedback</key>
	<string>histogramBeyondPrototype</string>
	<key>curveViaFlyweight</key>
	<string>primaryCollectionAcceleration</string>
	<key>layerExceptVariable</key>
	<string>sinkDuringDecorator</string>
	<key>radioContainProcess</key>
	<string>synchronousRequestCount</string>
	<key>retainedResultMargin</key>
	<string>sensorVersusStrategy</string>
	<key>tappableBatchInset</key>
	<string>publicWorkflowBehavior</string>
</dict>
</plist>
