<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>groupAroundShape</key>
	<string>singleMomentumHead</string>
	<key>layoutDespiteScope</key>
	<string>requestOrComposite</string>
	<key>localPositionFrequency</key>
	<string>hierarchicalSemanticsCount</string>
	<key>permanentReferenceFormat</key>
	<string>relationalSizePosition</string>
	<key>persistentRowHue</key>
	<string>presenterMediatorStatus</string>
	<key>singletonDespiteFramework</key>
	<string>agileBitrateLeft</string>
	<key>subpixelCommandHead</key>
	<string>compositionalNavigationPadding</string>
	<key>usecaseAtStrategy</key>
	<string>sophisticatedLabelTransparency</string>
</dict>
</plist>
