<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintOperationSkewx</key>
	<string>statelessTitleTail</string>
	<key>interactorPerCycle</key>
	<string>subtleEntityContrast</string>
	<key>metadataChainDuration</key>
	<string>actionActionOrigin</string>
	<key>optimizerAndLevel</key>
	<string>directIntensityInset</string>
	<key>smallInteractorInterval</key>
	<string>stackPrototypeForce</string>
</dict>
</plist>
