<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderTaskDelay</key>
	<string>injectionAsPrototype</string>
	<key>difficultServiceOffset</key>
	<string>uniformResponseResponse</string>
	<key>entityNearAction</key>
	<string>animationNearInterpreter</string>
	<key>hashProcessFrequency</key>
	<string>mediocreExtensionOffset</string>
	<key>isolateAroundTask</key>
	<string>nextCanvasDepth</string>
	<key>matrixBridgeFlags</key>
	<string>customStampTransparency</string>
	<key>popupAndStrategy</key>
	<string>diffableRadioFormat</string>
	<key>storeProcessPosition</key>
	<string>iconByContext</string>
	<key>transitionActivityBottom</key>
	<string>resizableLocalizationResponse</string>
</dict>
</plist>
