<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterDecoratorSkewx</key>
	<string>curveAboutMemento</string>
	<key>compositionDecoratorInteraction</key>
	<string>cycleAndState</string>
	<key>curveBeyondValue</key>
	<string>routerChainVisibility</string>
	<key>mobxStyleFrequency</key>
	<string>sensorOutsideFramework</string>
	<key>notifierSystemForce</key>
	<string>repositoryPrototypeOrientation</string>
	<key>protectedFutureInterval</key>
	<string>boxshadowInterpreterLocation</string>
	<key>standaloneClipperFormat</key>
	<string>missedTaskName</string>
</dict>
</plist>
