<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveTextEdge</key>
	<string>asyncAgainstTier</string>
	<key>blocAboutMode</key>
	<string>positionTempleSkewx</string>
	<key>greatProviderDistance</key>
	<string>extensionSystemVelocity</string>
	<key>materialEntropyOffset</key>
	<string>denseTickerTransparency</string>
	<key>multiplicationModeSpeed</key>
	<string>matrixWithLayer</string>
	<key>musicWorkPosition</key>
	<string>easySingletonTension</string>
	<key>providerThroughFramework</key>
	<string>tableTaskDelay</string>
	<key>textureBesideShape</key>
	<string>usedCompleterForce</string>
	<key>zoneModeTail</key>
	<string>momentumAmongSystem</string>
</dict>
</plist>
