<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalProtocolContrast</key>
	<string>elasticCallbackTag</string>
	<key>gridThroughBridge</key>
	<string>actionStageFrequency</string>
	<key>oldLayoutShade</key>
	<string>richtextDespiteBuffer</string>
	<key>pinchableOptimizerState</key>
	<string>layerContextAppearance</string>
	<key>positionOperationBorder</key>
	<string>spotViaSingleton</string>
	<key>priorityBufferSkewx</key>
	<string>channelsAwayVariable</string>
	<key>rectWithoutCommand</key>
	<string>primaryTweenSkewy</string>
	<key>reducerProxySkewx</key>
	<string>vectorPrototypeOffset</string>
	<key>titleStructureSize</key>
	<string>completerDuringInterpreter</string>
	<key>usageAroundType</key>
	<string>globalChartCount</string>
</dict>
</plist>
