<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorPatternSkewy</key>
	<string>cellEnvironmentVelocity</string>
	<key>dedicatedRoleBrightness</key>
	<string>symbolAndEnvironment</string>
	<key>durationVersusStyle</key>
	<string>responsePhaseSkewy</string>
	<key>frameThroughStrategy</key>
	<string>durationMediatorVisibility</string>
	<key>imageTypeMomentum</key>
	<string>graphContextTag</string>
	<key>multiTransitionKind</key>
	<string>customEffectResponse</string>
	<key>observerOfSystem</key>
	<string>intensityContainAdapter</string>
	<key>optimizerIncludeVariable</key>
	<string>gridPlatformRotation</string>
	<key>tweenLevelFormat</key>
	<string>boxEnvironmentInteraction</string>
	<key>widgetPerVariable</key>
	<string>techniqueVersusActivity</string>
</dict>
</plist>
