<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureLayerTheme</key>
	<string>aspectIncludeCycle</string>
	<key>canvasVersusTask</key>
	<string>functionalPaddingShape</string>
	<key>keyLocalizationSpeed</key>
	<string>scrollDespiteSystem</string>
	<key>layoutFlyweightTag</key>
	<string>futureFormDuration</string>
	<key>materialParamDepth</key>
	<string>serviceFacadeSkewy</string>
	<key>missedModulusDensity</key>
	<string>advancedTextureAcceleration</string>
	<key>optimizerByComposite</key>
	<string>cycleDuringFramework</string>
	<key>particleFormFrequency</key>
	<string>smallRowFrequency</string>
</dict>
</plist>
