<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentUntilChain</key>
	<string>modelTempleOrientation</string>
	<key>cacheParamOffset</key>
	<string>commandBridgeOrientation</string>
	<key>containerAndScope</key>
	<string>adaptiveInterpolationShade</string>
	<key>difficultProtocolForce</key>
	<string>requestParamMomentum</string>
	<key>elasticListenerState</key>
	<string>vectorStyleHue</string>
	<key>metadataPatternPosition</key>
	<string>taskSingletonAlignment</string>
	<key>stepPerNumber</key>
	<string>challengeUntilPlatform</string>
	<key>subpixelAsVar</key>
	<string>resourceContainPhase</string>
	<key>timerPhaseBehavior</key>
	<string>originalMethodOffset</string>
</dict>
</plist>
