<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveResultSize</key>
	<string>enabledTernaryFlags</string>
	<key>effectOperationMode</key>
	<string>resourceOrKind</string>
	<key>positionActivityDuration</key>
	<string>iterativeAwaitFeedback</string>
	<key>signContextRight</key>
	<string>sophisticatedNotificationOffset</string>
	<key>sinkShapeLeft</key>
	<string>stackFacadeType</string>
	<key>temporaryCoordinatorFrequency</key>
	<string>buttonThanForm</string>
</dict>
</plist>
