<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartFacadeLeft</key>
	<string>interpolationInAction</string>
	<key>discardedMomentumPadding</key>
	<string>iterativeFeatureResponse</string>
	<key>hierarchicalCatalystRotation</key>
	<string>playbackContextHue</string>
	<key>lostNavigatorFeedback</key>
	<string>petAtMode</string>
	<key>materialMasterVelocity</key>
	<string>euclideanAnimationState</string>
	<key>mediocreNotificationBorder</key>
	<string>completerValueLeft</string>
	<key>webMobxTransparency</key>
	<string>mediaPhaseSaturation</string>
</dict>
</plist>
