<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedChannelsHue</key>
	<string>diffableTransitionPosition</string>
	<key>asyncMenuPadding</key>
	<string>inheritedNavigatorRotation</string>
	<key>awaitCommandFlags</key>
	<string>materialContractionHue</string>
	<key>consultativeDecorationBorder</key>
	<string>exponentCompositeCount</string>
	<key>gridWithoutLayer</key>
	<string>constSwiftTag</string>
	<key>inheritedPopupCenter</key>
	<string>usageVarLeft</string>
	<key>nibStageState</key>
	<string>permanentSceneValidation</string>
	<key>particleContextContrast</key>
	<string>symbolModeDensity</string>
	<key>positionModeDistance</key>
	<string>handlerChainPressure</string>
</dict>
</plist>
