<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryOutsideShape</key>
	<string>interactorFlyweightBehavior</string>
	<key>builderWithEnvironment</key>
	<string>pinchableControllerRight</string>
	<key>completionBesideVar</key>
	<string>actionMementoBottom</string>
	<key>enabledRoleForce</key>
	<string>numericalConfigurationTag</string>
	<key>hardNavigatorMomentum</key>
	<string>stepJobDistance</string>
	<key>notificationShapeCoord</key>
	<string>denseCompleterDelay</string>
</dict>
</plist>
