<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedCallbackPosition</key>
	<string>draggableRectStyle</string>
	<key>globalGetxHead</key>
	<string>flexibleVectorAcceleration</string>
	<key>liteWidgetBound</key>
	<string>textureBeyondTier</string>
	<key>scaleTaskValidation</key>
	<string>topicInsideParam</string>
	<key>sharedMobileCenter</key>
	<string>interactiveTransformerBound</string>
	<key>substantialHandlerAppearance</key>
	<string>crudeTransitionColor</string>
	<key>webExpandedBehavior</key>
	<string>screenJobInteraction</string>
	<key>workflowWorkVisible</key>
	<string>commandVarMomentum</string>
</dict>
</plist>
