<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackLevelLeft</key>
	<string>associatedAspectSize</string>
	<key>commandSingletonDuration</key>
	<string>widgetDuringTier</string>
	<key>eagerInterfaceSpacing</key>
	<string>sortedEffectDepth</string>
	<key>gridMementoForce</key>
	<string>observerPlatformAppearance</string>
	<key>multiTickerTheme</key>
	<string>containerTierFeedback</string>
	<key>techniqueProxySkewy</key>
	<string>appbarLikeTemple</string>
</dict>
</plist>
