<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonAsShape</key>
	<string>storePatternDensity</string>
	<key>fixedOverlayIndex</key>
	<string>semanticPositionedCount</string>
	<key>giftAndBuffer</key>
	<string>declarativeScrollDelay</string>
	<key>graphEnvironmentCount</key>
	<string>resourceTaskTail</string>
	<key>labelTierAcceleration</key>
	<string>reductionInsideDecorator</string>
	<key>profileTypeTint</key>
	<string>asyncInsideSingleton</string>
	<key>rectSinceObserver</key>
	<string>serviceVarCount</string>
	<key>requiredZoneVisible</key>
	<string>semanticUtilTail</string>
	<key>storePerMediator</key>
	<string>sampleMethodTag</string>
	<key>vectorAmongForm</key>
	<string>mutableRemainderSize</string>
</dict>
</plist>
