<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeResolverRate</key>
	<string>buttonCycleStatus</string>
	<key>axisContainPlatform</key>
	<string>permanentGraphicSize</string>
	<key>mediumConfigurationOrientation</key>
	<string>reactiveInterfaceDuration</string>
	<key>rapidResultHue</key>
	<string>cubeActivityValidation</string>
	<key>resourceWithEnvironment</key>
	<string>bitrateFlyweightCoord</string>
	<key>significantSizedboxAlignment</key>
	<string>currentEqualizationAcceleration</string>
	<key>singleMasterType</key>
	<string>allocatorViaBridge</string>
</dict>
</plist>
