<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistAsStyle</key>
	<string>managerOrMode</string>
	<key>curveShapeColor</key>
	<string>permissiveIsolateDelay</string>
	<key>extensionUntilScope</key>
	<string>anchorOutsideLayer</string>
	<key>globalOffsetDuration</key>
	<string>nodeMementoCount</string>
	<key>zoneExceptContext</key>
	<string>buttonValueTint</string>
</dict>
</plist>
