<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocBridgeVelocity</key>
	<string>buttonVersusLayer</string>
	<key>delegateFromActivity</key>
	<string>allocatorForActivity</string>
	<key>pageviewDecoratorBound</key>
	<string>subsequentTextOrientation</string>
	<key>symbolOfMemento</key>
	<string>boxshadowViaOperation</string>
</dict>
</plist>
