<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarCompositeFrequency</key>
	<string>petFunctionBrightness</string>
	<key>appbarPerContext</key>
	<string>pointUntilVar</string>
	<key>menuSinceNumber</key>
	<string>providerAndEnvironment</string>
	<key>oldChapterState</key>
	<string>accordionPlaybackOrigin</string>
	<key>projectionEnvironmentSkewx</key>
	<string>modelSingletonFrequency</string>
	<key>protectedPainterLeft</key>
	<string>challengeContainObserver</string>
	<key>signatureMementoCount</key>
	<string>plateFormShape</string>
	<key>stackByPhase</key>
	<string>projectionInterpreterKind</string>
	<key>statelessMediaqueryValidation</key>
	<string>streamBridgeColor</string>
</dict>
</plist>
