<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowVisitorTransparency</key>
	<string>logarithmThroughFunction</string>
	<key>chartSystemDensity</key>
	<string>functionalNibVisibility</string>
	<key>entityViaFunction</key>
	<string>blocAmongType</string>
	<key>hierarchicalModelInset</key>
	<string>layoutOfLevel</string>
	<key>listviewInterpreterAppearance</key>
	<string>cellProcessBottom</string>
	<key>storageWorkInteraction</key>
	<string>containerCompositeBrightness</string>
	<key>subpixelAroundMemento</key>
	<string>sliderInLayer</string>
	<key>zoneAroundMemento</key>
	<string>segmentInterpreterAcceleration</string>
</dict>
</plist>
