<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineProxyMode</key>
	<string>rowShapeEdge</string>
	<key>borderVersusVariable</key>
	<string>greatAssetVisibility</string>
	<key>materialBufferSpacing</key>
	<string>callbackTempleState</string>
	<key>nativeDelegateInterval</key>
	<string>taskDespiteValue</string>
	<key>progressbarScopeCenter</key>
	<string>requiredNormFeedback</string>
	<key>queryForKind</key>
	<string>flexScopeFeedback</string>
	<key>taskParameterOrigin</key>
	<string>handlerActivityStyle</string>
	<key>variantTierLocation</key>
	<string>routerLevelOpacity</string>
</dict>
</plist>
