<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curvePlatformSpeed</key>
	<string>textPatternSize</string>
	<key>gemBridgeVelocity</key>
	<string>chapterLayerRate</string>
	<key>interactorOrLayer</key>
	<string>intermediateTransformerColor</string>
	<key>mapAgainstTemple</key>
	<string>storyboardShapeIndex</string>
	<key>observerNearSystem</key>
	<string>optimizerParameterLeft</string>
	<key>pivotalGridTheme</key>
	<string>opaqueActionTop</string>
	<key>pivotalMovementVisibility</key>
	<string>cubitAwayPhase</string>
	<key>precisionLikeVariable</key>
	<string>providerFromVariable</string>
	<key>serviceOutsideKind</key>
	<string>apertureProxySize</string>
	<key>storeEnvironmentCoord</key>
	<string>alignmentModeSaturation</string>
</dict>
</plist>
