<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderEnvironmentEdge</key>
	<string>spineFormCenter</string>
	<key>declarativeInjectionVelocity</key>
	<string>isolateAgainstNumber</string>
	<key>descriptionAlongActivity</key>
	<string>singleTabviewInteraction</string>
	<key>diversifiedZonePosition</key>
	<string>activityLikeSingleton</string>
	<key>getxPerValue</key>
	<string>uniformDropdownbuttonBorder</string>
	<key>monsterVarLocation</key>
	<string>spriteFlyweightRotation</string>
	<key>sizeContextHue</key>
	<string>sceneForStage</string>
	<key>tableCommandTop</key>
	<string>containerAroundPrototype</string>
</dict>
</plist>
