<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderDespiteType</key>
	<string>unsortedThemeInterval</string>
	<key>canvasDespiteChain</key>
	<string>projectionModeVisible</string>
	<key>cartesianCapacitiesOrigin</key>
	<string>gateByJob</string>
	<key>crudeCurveValidation</key>
	<string>normSystemCenter</string>
	<key>cubitContainWork</key>
	<string>responseInsideJob</string>
	<key>currentResourceStatus</key>
	<string>notifierAndTask</string>
	<key>gridviewOperationSize</key>
	<string>optimizerStageBorder</string>
	<key>listenerFromNumber</key>
	<string>smartHistogramOpacity</string>
</dict>
</plist>
