<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoSignBorder</key>
	<string>batchContainJob</string>
	<key>channelsByComposite</key>
	<string>reductionSinceType</string>
	<key>contractionParamAlignment</key>
	<string>swiftWorkTag</string>
	<key>curveOfActivity</key>
	<string>sessionDecoratorBehavior</string>
	<key>deferredEntropyName</key>
	<string>catalystViaKind</string>
	<key>descriptionOperationTop</key>
	<string>publicEffectStatus</string>
	<key>groupContextVelocity</key>
	<string>pivotalGroupResponse</string>
	<key>modalInParam</key>
	<string>hierarchicalCompletionOrigin</string>
	<key>paddingBesideMethod</key>
	<string>concreteExceptionFormat</string>
	<key>typicalLayerPosition</key>
	<string>rowAdapterTransparency</string>
</dict>
</plist>
