<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitVersusNumber</key>
	<string>buttonUntilTemple</string>
	<key>convolutionCycleHue</key>
	<string>getxOperationStyle</string>
	<key>cupertinoSwiftResponse</key>
	<string>consumerAdapterLeft</string>
	<key>heapSystemHead</key>
	<string>columnOfOperation</string>
	<key>sizePhaseFrequency</key>
	<string>plateContextOrientation</string>
</dict>
</plist>
