<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agilePreviewVelocity</key>
	<string>queryLevelTail</string>
	<key>finalExpandedTension</key>
	<string>spineBridgeShade</string>
	<key>interactiveControllerShape</key>
	<string>liteCellOrigin</string>
	<key>observerTemplePadding</key>
	<string>curveSystemMode</string>
	<key>priorityTypeName</key>
	<string>cardVariableBound</string>
	<key>progressbarStateFormat</key>
	<string>giftActionAcceleration</string>
</dict>
</plist>
