<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoDecorationOpacity</key>
	<string>protectedAspectTension</string>
	<key>commandKindSpeed</key>
	<string>finalStackType</string>
	<key>consumerDuringTier</key>
	<string>declarativeCommandHead</string>
	<key>cubitCycleFlags</key>
	<string>streamContainBridge</string>
	<key>queryExceptFacade</key>
	<string>geometricDurationDistance</string>
	<key>sophisticatedTextFlags</key>
	<string>accessoryStyleCoord</string>
</dict>
</plist>
