<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxKindShape</key>
	<string>spriteStrategyTheme</string>
	<key>composableRowBound</key>
	<string>routeAwayPattern</string>
	<key>eagerThreadBorder</key>
	<string>fragmentKindLocation</string>
	<key>isolateParamAlignment</key>
	<string>listenerAtVar</string>
	<key>materialNearAction</key>
	<string>mediaWorkAppearance</string>
	<key>particleBeyondBuffer</key>
	<string>fusedTechniqueVelocity</string>
	<key>progressbarLikeFramework</key>
	<string>workflowForAdapter</string>
	<key>storageStyleMomentum</key>
	<string>transformerNearOperation</string>
</dict>
</plist>
