<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euclideanIconResponse</key>
	<string>tappableDropdownbuttonShade</string>
	<key>responsiveAlignmentOrientation</key>
	<string>specifyLayerInset</string>
	<key>semanticSizeBorder</key>
	<string>scaleParamTop</string>
	<key>statefulSemanticsRotation</key>
	<string>sharedCertificateHead</string>
	<key>synchronousInterpolationDuration</key>
	<string>richtextLayerRight</string>
	<key>usedConstraintRight</key>
	<string>actionStrategyShape</string>
	<key>vectorContainLevel</key>
	<string>logarithmInsideLevel</string>
</dict>
</plist>
