<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianIsolateTop</key>
	<string>masterWithoutWork</string>
	<key>concreteStorageVisibility</key>
	<string>greatConfigurationLeft</string>
	<key>convolutionProcessColor</key>
	<string>commonAccessoryAcceleration</string>
	<key>dropdownbuttonBridgeSize</key>
	<string>storageShapeLeft</string>
	<key>factoryMementoSpeed</key>
	<string>listenerThroughPhase</string>
	<key>mediumResourceSize</key>
	<string>modalFrameworkCoord</string>
	<key>statefulLayerDepth</key>
	<string>originalMarginInterval</string>
	<key>titleChainShape</key>
	<string>newestButtonResponse</string>
</dict>
</plist>
