<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferPatternForce</key>
	<string>popupWithBuffer</string>
	<key>builderOperationColor</key>
	<string>listenerTempleStyle</string>
	<key>chartOperationBehavior</key>
	<string>columnActionTag</string>
	<key>custompaintInsideDecorator</key>
	<string>popupLikePlatform</string>
	<key>declarativeSymbolSkewx</key>
	<string>animationProxyDuration</string>
	<key>significantQueryMargin</key>
	<string>indicatorInsideContext</string>
	<key>titleViaVisitor</key>
	<string>composableSizeStyle</string>
</dict>
</plist>
