<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionOfDecorator</key>
	<string>sequentialCommandOpacity</string>
	<key>heroByCycle</key>
	<string>topicInsideFramework</string>
	<key>labelParameterType</key>
	<string>otherAspectTail</string>
	<key>logStageAlignment</key>
	<string>getxPerVariable</string>
	<key>otherPositionType</key>
	<string>geometricMonsterIndex</string>
	<key>sizedboxDecoratorCount</key>
	<string>hyperbolicProviderRate</string>
	<key>viewCycleVisible</key>
	<string>keyFactoryBottom</string>
</dict>
</plist>
