<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dimensionStageTop</key>
	<string>graphMethodRotation</string>
	<key>oldDescriptionEdge</key>
	<string>relationalHistogramBrightness</string>
	<key>radioProcessSkewy</key>
	<string>liteGrainBehavior</string>
	<key>taskTypeKind</key>
	<string>sizedboxBeyondFramework</string>
</dict>
</plist>
