<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterAboutForm</key>
	<string>associatedEffectFeedback</string>
	<key>injectionBridgeFrequency</key>
	<string>layerAboutPlatform</string>
	<key>rapidCharacterDistance</key>
	<string>cubitBesidePhase</string>
	<key>taskModeCount</key>
	<string>prevWidgetLocation</string>
	<key>webCubePosition</key>
	<string>prevTimerTheme</string>
</dict>
</plist>
