<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyOfDecorator</key>
	<string>widgetTaskForce</string>
	<key>liteScreenKind</key>
	<string>currentSingletonRate</string>
	<key>statePerTier</key>
	<string>buttonPerJob</string>
	<key>usedMobileDuration</key>
	<string>gradientWithMediator</string>
</dict>
</plist>
