<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fixedCoordinatorRate</key>
	<string>subscriptionVarMargin</string>
	<key>layoutAboutMode</key>
	<string>allocatorFacadePosition</string>
	<key>plateAdapterCount</key>
	<string>navigatorChainPressure</string>
	<key>specifierFormInset</key>
	<string>arithmeticHashScale</string>
</dict>
</plist>
