<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousAlignmentFrequency</key>
	<string>tweenOrMediator</string>
	<key>callbackContainVariable</key>
	<string>accordionDescriptionShape</string>
	<key>configurationThanTier</key>
	<string>effectAndStructure</string>
	<key>effectAsDecorator</key>
	<string>lastSceneCount</string>
	<key>presenterProcessPressure</key>
	<string>layoutAboutWork</string>
	<key>primaryChartStatus</key>
	<string>inheritedChapterTag</string>
	<key>protocolMediatorAcceleration</key>
	<string>globalCompositionBound</string>
	<key>providerBridgeColor</key>
	<string>vectorAdapterDensity</string>
	<key>spriteProcessDepth</key>
	<string>singletonBeyondMediator</string>
	<key>vectorSinceCycle</key>
	<string>petAroundDecorator</string>
</dict>
</plist>
