<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardTextureLeft</key>
	<string>mediaqueryAwayContext</string>
	<key>beginnerToolSpacing</key>
	<string>collectionLikeType</string>
	<key>callbackThanJob</key>
	<string>flexSinceAdapter</string>
	<key>delicateReferenceMode</key>
	<string>columnVisitorTransparency</string>
	<key>immediateSkinVisibility</key>
	<string>contractionLevelRight</string>
	<key>menuAndBuffer</key>
	<string>directMethodTag</string>
	<key>statelessSingletonSize</key>
	<string>bitrateAsValue</string>
	<key>unaryBeyondBridge</key>
	<string>frameOperationOpacity</string>
</dict>
</plist>
