<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>futureVersusStructure</key>
	<string>normalGrainStyle</string>
	<key>titleAtObserver</key>
	<string>serviceParameterAppearance</string>
	<key>transformerSingletonRotation</key>
	<string>utilViaProxy</string>
</dict>
</plist>
