<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchProcessRight</key>
	<string>titlePerJob</string>
	<key>difficultResourceCount</key>
	<string>boxshadowMementoSpeed</string>
	<key>disabledEventFlags</key>
	<string>gateShapeMomentum</string>
	<key>futureOfFramework</key>
	<string>effectSinceAction</string>
	<key>injectionParameterAppearance</key>
	<string>entropyByCycle</string>
	<key>modalEnvironmentForce</key>
	<string>sequentialTableType</string>
</dict>
</plist>
