<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateChainTransparency</key>
	<string>reductionVersusObserver</string>
	<key>bitratePrototypeBehavior</key>
	<string>parallelBitrateCoord</string>
	<key>documentFacadeMargin</key>
	<string>featureTempleHead</string>
	<key>momentumLayerKind</key>
	<string>remainderAmongBridge</string>
	<key>momentumUntilPhase</key>
	<string>layoutTypeRate</string>
	<key>previewPrototypeShade</key>
	<string>bufferAmongTask</string>
</dict>
</plist>
