<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterByFlyweight</key>
	<string>sessionUntilVariable</string>
	<key>ephemeralConfigurationFrequency</key>
	<string>tabviewInterpreterHead</string>
	<key>petForPlatform</key>
	<string>mobxAboutType</string>
	<key>reducerMementoType</key>
	<string>texturePrototypeTint</string>
	<key>routerThanTier</key>
	<string>substantialDescriptorContrast</string>
	<key>segmentVarSkewy</key>
	<string>interactiveUnaryStatus</string>
	<key>sortedCubitCount</key>
	<string>vectorBesideState</string>
	<key>tabbarOrSystem</key>
	<string>scrollableButtonValidation</string>
	<key>unsortedEquipmentInset</key>
	<string>fusedResultStatus</string>
</dict>
</plist>
