<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedStorageTheme</key>
	<string>optimizerLikeStyle</string>
	<key>primaryOperationMomentum</key>
	<string>capacitiesStageRotation</string>
	<key>resourceLikeMediator</key>
	<string>mediaqueryLayerName</string>
	<key>sharedMasterMargin</key>
	<string>secondFutureDuration</string>
	<key>statefulSystemRotation</key>
	<string>resolverEnvironmentColor</string>
</dict>
</plist>
