<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exponentLayerMargin</key>
	<string>tappablePreviewPadding</string>
	<key>gridParamValidation</key>
	<string>immutableDurationOrigin</string>
	<key>responseSinceTier</key>
	<string>robustBlocTag</string>
	<key>sensorSinceKind</key>
	<string>immutableThemeInterval</string>
	<key>tabviewVisitorInterval</key>
	<string>textfieldFacadeName</string>
	<key>workflowJobMomentum</key>
	<string>heapChainVisible</string>
</dict>
</plist>
