<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionMapHue</key>
	<string>euclideanTimerState</string>
	<key>collectionPerComposite</key>
	<string>modulusSinceAdapter</string>
	<key>dimensionInterpreterRotation</key>
	<string>extensionLayerPressure</string>
	<key>hashVarLocation</key>
	<string>titleModeStyle</string>
	<key>respectiveDependencyOrigin</key>
	<string>cosineTypeRight</string>
</dict>
</plist>
