<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedViewDirection</key>
	<string>labelLikeTier</string>
	<key>currentPopupCount</key>
	<string>eagerPaddingInteraction</string>
	<key>directlyAccessoryShade</key>
	<string>commonSpotVisible</string>
	<key>effectAboutStrategy</key>
	<string>unsortedPrecisionBrightness</string>
	<key>hashDuringProcess</key>
	<string>cursorOutsideValue</string>
</dict>
</plist>
