<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorAsSingleton</key>
	<string>diffableLayoutLocation</string>
	<key>errorInMemento</key>
	<string>sizedboxAwayDecorator</string>
	<key>inactiveEntityDistance</key>
	<string>denseRoleTag</string>
	<key>respectiveSlashForce</key>
	<string>listviewVarCenter</string>
	<key>scaleProcessBehavior</key>
	<string>sequentialRoleForce</string>
	<key>textureOfLayer</key>
	<string>protocolSingletonOrientation</string>
</dict>
</plist>
