<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalAppbarForce</key>
	<string>comprehensivePopupCenter</string>
	<key>factoryVarSize</key>
	<string>delegateNumberDistance</string>
	<key>geometricDelegateFrequency</key>
	<string>toolJobMargin</string>
	<key>iconBeyondWork</key>
	<string>effectForForm</string>
	<key>mobxVersusSystem</key>
	<string>liteMasterCount</string>
	<key>radioNearMethod</key>
	<string>immediateManagerFormat</string>
	<key>usecaseAwayBridge</key>
	<string>assetObserverKind</string>
</dict>
</plist>
