<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoSignSkewx</key>
	<string>cartesianBinaryTint</string>
	<key>baselineMementoKind</key>
	<string>modalWithoutProxy</string>
	<key>descriptorSinceLevel</key>
	<string>progressbarInFlyweight</string>
	<key>normalEntropyBehavior</key>
	<string>masterTempleDuration</string>
	<key>observerBeyondParam</key>
	<string>commandBufferScale</string>
	<key>queryPlatformDuration</key>
	<string>consultativeCharacterTheme</string>
	<key>remainderKindCenter</key>
	<string>menuAwayOperation</string>
	<key>rowOrMethod</key>
	<string>cupertinoDelegateTag</string>
</dict>
</plist>
