<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>globalLogDepth</key>
	<string>promiseParameterDelay</string>
	<key>mediaTaskPosition</key>
	<string>indicatorCompositeLeft</string>
	<key>navigatorExceptJob</key>
	<string>resizableTouchDistance</string>
	<key>notificationByEnvironment</key>
	<string>immutableRouteResponse</string>
	<key>optimizerProxyTension</key>
	<string>compositionMementoStyle</string>
	<key>substantialCheckboxLeft</key>
	<string>histogramOfProcess</string>
</dict>
</plist>
