<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianLayoutCenter</key>
	<string>firstLabelInterval</string>
	<key>curveAboutEnvironment</key>
	<string>agileSubscriptionTension</string>
	<key>heroContextCoord</key>
	<string>menuAtShape</string>
	<key>notifierSinceFacade</key>
	<string>boxPerStrategy</string>
	<key>tableFunctionScale</key>
	<string>sampleDespiteOperation</string>
</dict>
</plist>
