<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateNearInterpreter</key>
	<string>respectiveStreamContrast</string>
	<key>imageAroundStructure</key>
	<string>delegateThanSingleton</string>
	<key>invisibleCatalystBottom</key>
	<string>cubePlatformFormat</string>
	<key>queryOutsideNumber</key>
	<string>mediaBesideType</string>
	<key>taskFormBrightness</key>
	<string>controllerInValue</string>
</dict>
</plist>
