<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoNavigatorValidation</key>
	<string>notificationBeyondStrategy</string>
	<key>durationForTemple</key>
	<string>descriptorTierResponse</string>
	<key>enabledCanvasType</key>
	<string>backwardRectTheme</string>
	<key>interfaceForVar</key>
	<string>mobileTempleForce</string>
	<key>labelVisitorCoord</key>
	<string>imageCompositeBorder</string>
	<key>matrixAwayValue</key>
	<string>featureAlongKind</string>
	<key>navigatorStageScale</key>
	<string>documentPlatformVisible</string>
	<key>responsiveExceptionOrigin</key>
	<string>symbolVisitorColor</string>
	<key>routerTierInteraction</key>
	<string>significantRowTheme</string>
</dict>
</plist>
