<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileMediaqueryAppearance</key>
	<string>extensionInCommand</string>
	<key>boxExceptProxy</key>
	<string>factoryStrategyName</string>
	<key>interactorBridgeMomentum</key>
	<string>vectorEnvironmentInteraction</string>
	<key>loopCompositeOrigin</key>
	<string>symmetricAwaitShade</string>
	<key>providerProxyDensity</key>
	<string>explicitCoordinatorRight</string>
	<key>switchObserverStyle</key>
	<string>activeCurveKind</string>
	<key>textStrategySaturation</key>
	<string>liteUtilShape</string>
</dict>
</plist>
