<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateTierRotation</key>
	<string>checklistByVar</string>
	<key>entityThanProcess</key>
	<string>routeStrategyVisibility</string>
	<key>indicatorForLayer</key>
	<string>taskByStyle</string>
	<key>instructionOperationDensity</key>
	<string>stepThanVariable</string>
	<key>mobileAnimationIndex</key>
	<string>alertAboutForm</string>
	<key>nextResponseBorder</key>
	<string>queryAdapterFormat</string>
	<key>retainedAnchorRotation</key>
	<string>assetKindColor</string>
	<key>significantResourceValidation</key>
	<string>paddingNearBridge</string>
	<key>transformerThroughObserver</key>
	<string>modulusAsMethod</string>
	<key>unaryWithDecorator</key>
	<string>awaitThanType</string>
</dict>
</plist>
