<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>futureScopeForce</key>
	<string>flexibleMediaBorder</string>
	<key>iterativeOffsetMode</key>
	<string>segueFrameworkFlags</string>
	<key>routeOutsideScope</key>
	<string>petBeyondAction</string>
	<key>serviceTypeOpacity</key>
	<string>animationViaSystem</string>
</dict>
</plist>
