<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnThanLevel</key>
	<string>listenerFunctionOrigin</string>
	<key>layoutShapeEdge</key>
	<string>rapidWidgetType</string>
	<key>promiseFromFunction</key>
	<string>sortedSceneMode</string>
	<key>resolverDespiteForm</key>
	<string>directChallengeSize</string>
	<key>segmentMethodMomentum</key>
	<string>publicButtonCenter</string>
	<key>sizePerScope</key>
	<string>characterChainColor</string>
	<key>streamProcessMargin</key>
	<string>comprehensiveInterfaceVisibility</string>
</dict>
</plist>
