<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedEntityTag</key>
	<string>fusedParticleInset</string>
	<key>completionStructureCount</key>
	<string>usecaseSingletonVisible</string>
	<key>discardedSessionVelocity</key>
	<string>tangentKindOrientation</string>
	<key>durationFunctionMode</key>
	<string>sizeAroundComposite</string>
	<key>isolateParamVelocity</key>
	<string>positionBeyondContext</string>
	<key>priorStreamVisibility</key>
	<string>specifySubpixelDuration</string>
	<key>serviceSystemSpeed</key>
	<string>featureLayerSkewx</string>
	<key>substantialGrainVisible</key>
	<string>configurationPrototypeMargin</string>
	<key>tickerFlyweightFrequency</key>
	<string>interactiveSkirtRate</string>
</dict>
</plist>
