<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonTierPosition</key>
	<string>disabledBoxshadowOrigin</string>
	<key>convolutionWorkVisibility</key>
	<string>localMapMargin</string>
	<key>difficultTitleTop</key>
	<string>substantialAxisMargin</string>
	<key>lossBridgeForce</key>
	<string>backwardFutureScale</string>
	<key>resourceAdapterEdge</key>
	<string>consumerFlyweightFrequency</string>
	<key>smallMethodHue</key>
	<string>inactiveBufferValidation</string>
	<key>textureAdapterMargin</key>
	<string>explicitTangentSkewx</string>
</dict>
</plist>
