<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeSymbolDistance</key>
	<string>positionByCycle</string>
	<key>functionalTabviewSpeed</key>
	<string>sinkIncludePlatform</string>
	<key>promiseAroundScope</key>
	<string>controllerValueDensity</string>
	<key>respectiveLoopHue</key>
	<string>independentGrayscalePressure</string>
</dict>
</plist>
