<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerOutsideNumber</key>
	<string>intensityContextResponse</string>
	<key>optimizerStructureCenter</key>
	<string>effectAwayTask</string>
	<key>particleAdapterAlignment</key>
	<string>indicatorOperationInteraction</string>
</dict>
</plist>
