<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonDocumentSpeed</key>
	<string>navigationAboutProcess</string>
	<key>constraintPlatformRate</key>
	<string>eagerMissionContrast</string>
	<key>durationBeyondCommand</key>
	<string>accessibleBaselinePosition</string>
	<key>eagerErrorOffset</key>
	<string>accessoryVarTension</string>
	<key>exceptionAwayAdapter</key>
	<string>substantialStreamInterval</string>
	<key>greatZoneTheme</key>
	<string>storePrototypeHead</string>
	<key>projectionDespiteVariable</key>
	<string>navigatorValueInteraction</string>
	<key>samplePhaseInterval</key>
	<string>chapterLayerEdge</string>
	<key>staticAnchorRate</key>
	<string>sensorFacadeDuration</string>
	<key>zoneFacadeFormat</key>
	<string>indicatorAndInterpreter</string>
</dict>
</plist>
