<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartAwayInterpreter</key>
	<string>fixedShaderStatus</string>
	<key>durationAdapterBrightness</key>
	<string>behaviorFrameworkTag</string>
	<key>durationExceptPrototype</key>
	<string>cupertinoJobValidation</string>
	<key>fusedFeatureOrigin</key>
	<string>cycleDespitePhase</string>
	<key>missedGrainDepth</key>
	<string>logInterpreterHue</string>
	<key>playbackMementoTransparency</key>
	<string>durationDespiteCommand</string>
	<key>positionCompositeBehavior</key>
	<string>interactiveProjectName</string>
	<key>resourceBufferTop</key>
	<string>singletonVariableSpeed</string>
</dict>
</plist>
