<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushIncludeOperation</key>
	<string>standaloneBulletState</string>
	<key>cupertinoStageSpacing</key>
	<string>compositionTypeAppearance</string>
	<key>labelBesideMethod</key>
	<string>metadataOfScope</string>
	<key>mediumResponseTheme</key>
	<string>sessionPhaseSaturation</string>
	<key>metadataSystemCount</key>
	<string>easyCollectionSpeed</string>
	<key>multiplicationFromState</key>
	<string>sliderObserverSkewx</string>
	<key>referenceStyleTension</key>
	<string>capacitiesInterpreterVisible</string>
	<key>routeContainMode</key>
	<string>arithmeticWithTask</string>
	<key>sliderAgainstChain</key>
	<string>stampCompositeColor</string>
</dict>
</plist>
