<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionIncludeWork</key>
	<string>responseByEnvironment</string>
	<key>futureFacadeBrightness</key>
	<string>managerAdapterDensity</string>
	<key>handlerThanState</key>
	<string>usedLabelSkewy</string>
	<key>normalQueryAppearance</key>
	<string>bitrateLevelStatus</string>
	<key>observerPerDecorator</key>
	<string>usedSkirtBrightness</string>
	<key>titleStrategyOpacity</key>
	<string>offsetInterpreterKind</string>
</dict>
</plist>
