<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoControllerType</key>
	<string>queueOperationDirection</string>
	<key>consultativeTweenTop</key>
	<string>sineActionVisibility</string>
	<key>getxCompositeEdge</key>
	<string>awaitBeyondCycle</string>
	<key>secondResolverCenter</key>
	<string>prevRectBorder</string>
	<key>unactivatedViewTension</key>
	<string>consumerAlongBridge</string>
</dict>
</plist>
