<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushLayerSaturation</key>
	<string>sinkThanLevel</string>
	<key>diversifiedCoordinatorVelocity</key>
	<string>desktopNotificationOpacity</string>
	<key>graphAlongCommand</key>
	<string>queryExceptNumber</string>
	<key>offsetStrategyAcceleration</key>
	<string>popupProcessFeedback</string>
	<key>popupSinceChain</key>
	<string>prevFrameBrightness</string>
	<key>protocolSinceVar</key>
	<string>localizationAwayTemple</string>
	<key>standaloneAssetVelocity</key>
	<string>cardBeyondActivity</string>
	<key>tabviewEnvironmentSaturation</key>
	<string>cubeAsLayer</string>
	<key>transitionBesideFramework</key>
	<string>publicGestureStyle</string>
</dict>
</plist>
