<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>layoutChainSkewx</key>
	<string>logMethodTension</string>
	<key>liteDurationPadding</key>
	<string>newestCommandState</string>
	<key>localizationChainKind</key>
	<string>symmetricSubscriptionStatus</string>
	<key>marginAmongProxy</key>
	<string>techniqueAdapterShade</string>
	<key>mediocreChallengeEdge</key>
	<string>momentumAsTask</string>
	<key>modelPatternTag</key>
	<string>parallelRouteOrigin</string>
	<key>rapidResourceVelocity</key>
	<string>mediumAnimationAcceleration</string>
	<key>relationalPriorityDistance</key>
	<string>intensityIncludeBuffer</string>
	<key>scaleWithoutMediator</key>
	<string>easyWidgetMargin</string>
	<key>stackOrPrototype</key>
	<string>canvasParameterPressure</string>
</dict>
</plist>
