<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>navigatorAgainstStructure</key>
	<string>hyperbolicBitrateOrientation</string>
	<key>rowTaskOpacity</key>
	<string>kernelAmongNumber</string>
	<key>spotPhaseFlags</key>
	<string>numericalChartOrientation</string>
</dict>
</plist>
