<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationChainBrightness</key>
	<string>constHashDelay</string>
	<key>enabledSizeDirection</key>
	<string>documentCommandOpacity</string>
	<key>navigatorBufferTint</key>
	<string>appbarVisitorInteraction</string>
	<key>popupTierFormat</key>
	<string>consultativeProjectInterval</string>
	<key>richtextIncludeShape</key>
	<string>animationSystemTag</string>
	<key>usageAgainstPlatform</key>
	<string>heapForPattern</string>
</dict>
</plist>
