<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorVisitorPadding</key>
	<string>pivotalUsageSpacing</string>
	<key>directlyCoordinatorForce</key>
	<string>drawerExceptComposite</string>
	<key>eventSingletonCenter</key>
	<string>apertureBridgeOrientation</string>
	<key>notificationVisitorColor</key>
	<string>sequentialGestureInteraction</string>
	<key>singleMethodFlags</key>
	<string>tensorIntegerStatus</string>
	<key>viewContextDensity</key>
	<string>memberPatternMargin</string>
</dict>
</plist>
