<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedServiceType</key>
	<string>invisibleApertureKind</string>
	<key>crudeInstructionInset</key>
	<string>hardDependencyTint</string>
	<key>ephemeralFragmentLeft</key>
	<string>methodOrFlyweight</string>
	<key>firstBaselinePadding</key>
	<string>matrixTypeInterval</string>
	<key>fixedErrorFormat</key>
	<string>behaviorAgainstType</string>
</dict>
</plist>
