<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocFrameworkForce</key>
	<string>stampContainPlatform</string>
	<key>checklistFacadeName</key>
	<string>errorAndStyle</string>
	<key>imageAmongOperation</key>
	<string>retainedAxisFeedback</string>
	<key>logarithmBesideStage</key>
	<string>factoryDespiteLevel</string>
	<key>methodBeyondBridge</key>
	<string>documentDespiteTier</string>
	<key>stateAtTask</key>
	<string>offsetPlatformDirection</string>
	<key>subscriptionStateStyle</key>
	<string>resizableWorkflowDensity</string>
</dict>
</plist>
