<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncSinceNumber</key>
	<string>localCurveDistance</string>
	<key>comprehensiveTimerType</key>
	<string>resourceEnvironmentIndex</string>
	<key>cubitVersusTask</key>
	<string>exceptionExceptDecorator</string>
	<key>cycleSinceMediator</key>
	<string>opaqueKernelSpeed</string>
	<key>ignoredMaterialAcceleration</key>
	<string>symbolVersusDecorator</string>
	<key>positionInValue</key>
	<string>widgetWorkKind</string>
	<key>semanticAspectratioSkewy</key>
	<string>cubitForInterpreter</string>
	<key>sliderAdapterFormat</key>
	<string>iconBeyondFlyweight</string>
	<key>sliderInMemento</key>
	<string>tabviewAsPattern</string>
	<key>tickerTypeTransparency</key>
	<string>descriptionAndDecorator</string>
</dict>
</plist>
