<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitSingletonSaturation</key>
	<string>curveSingletonVisibility</string>
	<key>customizedChartSkewx</key>
	<string>rowByInterpreter</string>
	<key>directlySliderDepth</key>
	<string>threadBeyondProcess</string>
	<key>methodLayerMomentum</key>
	<string>decorationUntilEnvironment</string>
	<key>monsterFacadeBorder</key>
	<string>taskAroundInterpreter</string>
	<key>originalExtensionSpacing</key>
	<string>sessionBufferFormat</string>
	<key>resolverAboutEnvironment</key>
	<string>widgetBridgeType</string>
	<key>serviceBridgeVisible</key>
	<string>menuFromStyle</string>
	<key>sortedSegueType</key>
	<string>assetOfVariable</string>
	<key>titleCyclePressure</key>
	<string>lostCaptionSkewx</string>
</dict>
</plist>
