<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicNodeBrightness</key>
	<string>compositionShapeVelocity</string>
	<key>boxMediatorForce</key>
	<string>offsetBridgeName</string>
	<key>crudeEffectColor</key>
	<string>nextCellFeedback</string>
	<key>futureAdapterHead</key>
	<string>keyGestureIndex</string>
	<key>ignoredOverlayVelocity</key>
	<string>multiZoneInterval</string>
	<key>mapExceptForm</key>
	<string>constraintActionFrequency</string>
	<key>newestActionState</key>
	<string>oldPopupLocation</string>
	<key>sophisticatedMonsterTag</key>
	<string>responseFromForm</string>
</dict>
</plist>
