<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarBeyondSingleton</key>
	<string>draggableStreamInteraction</string>
	<key>columnInterpreterType</key>
	<string>mapDuringPlatform</string>
	<key>errorAboutForm</key>
	<string>sizeShapeBound</string>
	<key>immutableBorderPressure</key>
	<string>priorityLikeStrategy</string>
	<key>managerLevelKind</key>
	<string>customTopicRight</string>
	<key>originalMethodBottom</key>
	<string>sharedAsyncDistance</string>
	<key>sizeTempleFrequency</key>
	<string>resilientGroupVisible</string>
	<key>tweenBesideNumber</key>
	<string>actionFormShade</string>
</dict>
</plist>
