<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intensityVariableLocation</key>
	<string>effectFromValue</string>
	<key>positionedAlongProxy</key>
	<string>difficultContainerDirection</string>
	<key>rowPerWork</key>
	<string>rowNumberDistance</string>
	<key>secondDecorationValidation</key>
	<string>descriptionContainProcess</string>
	<key>spotAgainstComposite</key>
	<string>usecaseInterpreterInterval</string>
	<key>ternaryTaskLeft</key>
	<string>timerExceptSingleton</string>
</dict>
</plist>
