<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureStageSpacing</key>
	<string>navigatorLayerColor</string>
	<key>channelStageBottom</key>
	<string>topicWithoutObserver</string>
	<key>chapterProcessDistance</key>
	<string>eventLevelFeedback</string>
	<key>grayscaleFlyweightMomentum</key>
	<string>observerAtMemento</string>
	<key>intuitiveResourceFlags</key>
	<string>channelDespiteVariable</string>
	<key>missedUsageRotation</key>
	<string>inactiveTitleVisible</string>
	<key>protocolThroughFramework</key>
	<string>animatedcontainerFrameworkTension</string>
	<key>remainderBeyondStage</key>
	<string>frameFormMargin</string>
	<key>vectorInsideParameter</key>
	<string>sortedRoutePadding</string>
</dict>
</plist>
