<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>multiPositionCoord</key>
	<string>metadataLayerTension</string>
	<key>providerAlongKind</key>
	<string>significantButtonBound</string>
	<key>semanticsModeResponse</key>
	<string>configurationObserverEdge</string>
	<key>substantialClipperState</key>
	<string>singleFutureTint</string>
</dict>
</plist>
