<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expandedParamDistance</key>
	<string>timerNearFacade</string>
	<key>navigatorAboutParam</key>
	<string>promiseOrChain</string>
	<key>observerChainSize</key>
	<string>durationOrFramework</string>
	<key>permissiveModelAppearance</key>
	<string>controllerCommandRotation</string>
	<key>petTierSpacing</key>
	<string>touchStateOrigin</string>
	<key>screenOperationForce</key>
	<string>ignoredGrainVelocity</string>
	<key>slashModeDistance</key>
	<string>resizableTernaryInterval</string>
	<key>tappableTechniqueFrequency</key>
	<string>comprehensiveLabelRotation</string>
</dict>
</plist>
