<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderSinceFramework</key>
	<string>bulletAroundMethod</string>
	<key>cosineOfCycle</key>
	<string>graphActivityStatus</string>
	<key>indicatorThroughVariable</key>
	<string>elasticMetadataState</string>
	<key>injectionBridgeCoord</key>
	<string>cubitUntilMediator</string>
	<key>lostActionAppearance</key>
	<string>subtlePointHead</string>
	<key>multiHistogramState</key>
	<string>scrollAroundState</string>
	<key>navigatorFunctionResponse</key>
	<string>themeSinceParameter</string>
	<key>optionAlongDecorator</key>
	<string>spriteStateDepth</string>
	<key>routeAlongVar</key>
	<string>deferredSlashVisible</string>
</dict>
</plist>
