<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeScaffoldInterval</key>
	<string>checklistInsideNumber</string>
	<key>borderPhaseFrequency</key>
	<string>delicateThreadName</string>
	<key>imperativePositionedLocation</key>
	<string>callbackInsideInterpreter</string>
	<key>imperativeTransitionDuration</key>
	<string>gridVisitorInteraction</string>
	<key>subscriptionChainVisibility</key>
	<string>constraintThanCycle</string>
	<key>unactivatedModalHead</key>
	<string>grainAboutMediator</string>
	<key>widgetBesideForm</key>
	<string>transitionFromMethod</string>
</dict>
</plist>
