<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaThanMediator</key>
	<string>builderExceptWork</string>
	<key>localizationAwayWork</key>
	<string>checkboxSinceCommand</string>
	<key>reducerAgainstOperation</key>
	<string>challengeNumberAcceleration</string>
	<key>singletonUntilOperation</key>
	<string>sortedDurationCoord</string>
	<key>toolKindDepth</key>
	<string>scrollFunctionDepth</string>
</dict>
</plist>
