<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imageInsideParam</key>
	<string>heroOutsideLevel</string>
	<key>normalNibCount</key>
	<string>equipmentScopeType</string>
	<key>singletonThroughOperation</key>
	<string>serviceVisitorRotation</string>
</dict>
</plist>
