<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncNearParam</key>
	<string>radiusFrameworkShape</string>
	<key>dynamicSemanticsOffset</key>
	<string>fixedBoxshadowTension</string>
	<key>masterByPhase</key>
	<string>momentumForStructure</string>
</dict>
</plist>
