<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentNumberType</key>
	<string>multiProgressbarBound</string>
	<key>futureChainDistance</key>
	<string>asyncSinceCommand</string>
	<key>hierarchicalNibCoord</key>
	<string>exceptionFunctionResponse</string>
	<key>liteProgressbarOrientation</key>
	<string>denseBoxshadowResponse</string>
	<key>operationMediatorVisible</key>
	<string>expandedUntilPrototype</string>
	<key>semanticStatelessInteraction</key>
	<string>touchThanFlyweight</string>
	<key>viewAwayMemento</key>
	<string>permanentPriorityTension</string>
</dict>
</plist>
