<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diversifiedIntegerFlags</key>
	<string>elasticKernelTop</string>
	<key>interpolationThanStage</key>
	<string>fixedAlertVisible</string>
	<key>routeSystemShape</key>
	<string>imageLayerOrientation</string>
	<key>stepEnvironmentTheme</key>
	<string>keyActivityAcceleration</string>
</dict>
</plist>
