<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonAwayFunction</key>
	<string>sessionPatternLeft</string>
	<key>captionBridgeTheme</key>
	<string>bitrateWorkKind</string>
	<key>giftTypeTension</key>
	<string>petThanState</string>
	<key>rowWorkOrigin</key>
	<string>constraintOperationBound</string>
	<key>utilChainOffset</key>
	<string>flexibleListenerBound</string>
	<key>utilNearParam</key>
	<string>staticResolverTransparency</string>
</dict>
</plist>
