<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionOrComposite</key>
	<string>dynamicCallbackFrequency</string>
	<key>fixedSignTransparency</key>
	<string>fragmentLikeParam</string>
	<key>layerVariableStatus</key>
	<string>sustainableContainerDistance</string>
	<key>listviewViaType</key>
	<string>layerPatternRate</string>
	<key>rectBridgeSkewy</key>
	<string>histogramIncludeForm</string>
	<key>smallSinkMode</key>
	<string>vectorInsideAction</string>
	<key>tabviewProxySpeed</key>
	<string>viewExceptVar</string>
	<key>temporaryBlocTint</key>
	<string>signVersusBridge</string>
</dict>
</plist>
