<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncProxyPosition</key>
	<string>expandedAmongChain</string>
	<key>cellAtParameter</key>
	<string>dependencyAwayShape</string>
	<key>independentDelegateResponse</key>
	<string>finalRichtextAlignment</string>
	<key>keyNibCenter</key>
	<string>builderBesideAction</string>
	<key>multiplicationOperationDelay</key>
	<string>easyPaddingResponse</string>
	<key>primaryPointMode</key>
	<string>bulletSinceShape</string>
	<key>rapidGramBrightness</key>
	<string>controllerAsNumber</string>
	<key>reducerBeyondVar</key>
	<string>notifierFunctionFormat</string>
	<key>semanticMediaHead</key>
	<string>coordinatorFormInterval</string>
	<key>skirtBridgePadding</key>
	<string>sinkActivityTension</string>
</dict>
</plist>
