<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleConvolutionForce</key>
	<string>sliderThroughStage</string>
	<key>channelsPerCycle</key>
	<string>sceneCompositeKind</string>
	<key>convolutionAboutMemento</key>
	<string>containerCompositeDensity</string>
	<key>layerBesideNumber</key>
	<string>multiplicationActionValidation</string>
	<key>monsterAsFacade</key>
	<string>symmetricConvolutionAlignment</string>
	<key>sizeByCycle</key>
	<string>sliderInsideParam</string>
</dict>
</plist>
