<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionInProcess</key>
	<string>prismaticDialogsBrightness</string>
	<key>backwardWidgetOffset</key>
	<string>factoryNearPlatform</string>
	<key>elasticSampleVelocity</key>
	<string>curvePerJob</string>
	<key>rapidCubitDuration</key>
	<string>oldSymbolShade</string>
	<key>storeFromValue</key>
	<string>coordinatorTempleLocation</string>
</dict>
</plist>
