<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasByTemple</key>
	<string>staticSliderHue</string>
	<key>loopPerDecorator</key>
	<string>channelsCycleShape</string>
	<key>overlayWithProxy</key>
	<string>adaptiveBrushAlignment</string>
	<key>sizeContainAction</key>
	<string>respectiveInterfaceIndex</string>
</dict>
</plist>
