<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveSlashDirection</key>
	<string>protocolProxySpeed</string>
	<key>assetVisitorDepth</key>
	<string>notifierDuringTask</string>
	<key>capsuleEnvironmentTop</key>
	<string>controllerParamTheme</string>
	<key>channelsSingletonLeft</key>
	<string>keyGrainOrientation</string>
	<key>cycleStageType</key>
	<string>granularUtilScale</string>
	<key>painterVariableDirection</key>
	<string>viewPhaseTint</string>
	<key>resourceForPhase</key>
	<string>publicSlashSpeed</string>
	<key>responseAboutScope</key>
	<string>accordionBoxshadowBottom</string>
	<key>temporaryCatalystPadding</key>
	<string>actionFromVisitor</string>
</dict>
</plist>
