<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerOrScope</key>
	<string>animationInterpreterRight</string>
	<key>cycleAmongLayer</key>
	<string>sceneStateTail</string>
	<key>immediateButtonBehavior</key>
	<string>dependencyPatternDuration</string>
	<key>notifierContextPressure</key>
	<string>gramAlongKind</string>
	<key>popupChainCoord</key>
	<string>axisMediatorSkewy</string>
	<key>repositoryOutsideSystem</key>
	<string>gradientInStructure</string>
	<key>rowFromNumber</key>
	<string>spriteLayerShade</string>
	<key>singletonForAction</key>
	<string>nativeVariantVisible</string>
	<key>streamByCycle</key>
	<string>sharedSpriteRotation</string>
	<key>switchOfTier</key>
	<string>cacheBeyondLevel</string>
</dict>
</plist>
