<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeTextureInteraction</key>
	<string>alertStyleOrientation</string>
	<key>cosineJobRight</key>
	<string>accessibleAsyncStyle</string>
	<key>cupertinoStreamBottom</key>
	<string>intensityNearNumber</string>
	<key>reactiveCompleterInset</key>
	<string>integerNearMemento</string>
	<key>usecaseChainBorder</key>
	<string>granularStorageVelocity</string>
</dict>
</plist>
