<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>managerContextName</key>
	<string>precisionContextTag</string>
	<key>popupFromMethod</key>
	<string>semanticExceptionVisible</string>
	<key>popupUntilBuffer</key>
	<string>materialLikeFacade</string>
	<key>resourceProcessOpacity</key>
	<string>assetAdapterDepth</string>
	<key>signLikeState</key>
	<string>managerAdapterDistance</string>
	<key>subsequentLoopDuration</key>
	<string>normalGrainType</string>
</dict>
</plist>
