<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleGridviewStatus</key>
	<string>configurationBridgeOrientation</string>
	<key>builderTypeType</key>
	<string>advancedNibTheme</string>
	<key>decorationViaNumber</key>
	<string>similarInstructionResponse</string>
	<key>modulusTempleSpeed</key>
	<string>secondDelegateContrast</string>
	<key>movementContextBorder</key>
	<string>criticalRectOffset</string>
	<key>semanticNavigatorFeedback</key>
	<string>configurationBridgeSize</string>
	<key>textAdapterPadding</key>
	<string>memberOfTier</string>
	<key>transitionFlyweightStatus</key>
	<string>activatedNavigatorFrequency</string>
	<key>usecaseAroundInterpreter</key>
	<string>specifierBesideTask</string>
</dict>
</plist>
