<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineIncludeKind</key>
	<string>gridOutsideParameter</string>
	<key>chartWithoutTemple</key>
	<string>difficultLayoutAlignment</string>
	<key>disabledMomentumSize</key>
	<string>hashFromOperation</string>
	<key>gesturedetectorFrameworkInterval</key>
	<string>futureForTier</string>
	<key>layerViaFramework</key>
	<string>basicRouterVelocity</string>
	<key>newestOptionShade</key>
	<string>bitrateValueMomentum</string>
	<key>sliderNumberSkewx</key>
	<string>containerActionDelay</string>
	<key>widgetStyleAppearance</key>
	<string>rapidDecorationShade</string>
</dict>
</plist>
