<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableTransformerLocation</key>
	<string>positionedTempleHue</string>
	<key>cubeAmongVar</key>
	<string>streamWithoutLevel</string>
	<key>screenMementoDuration</key>
	<string>constraintProcessHue</string>
	<key>sortedMomentumEdge</key>
	<string>entityDecoratorSkewy</string>
</dict>
</plist>
