<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentBorderTail</key>
	<string>denseRichtextFlags</string>
	<key>crudeBoxshadowForce</key>
	<string>widgetSystemDuration</string>
	<key>usecaseOfFunction</key>
	<string>riverpodInsideActivity</string>
</dict>
</plist>
