<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleLayoutSize</key>
	<string>subsequentUtilDistance</string>
	<key>accessoryShapePressure</key>
	<string>entropyOfAdapter</string>
	<key>animationJobDensity</key>
	<string>actionPrototypeDelay</string>
	<key>normalPositionInterval</key>
	<string>mutableBlocHue</string>
	<key>prismaticSensorStyle</key>
	<string>inheritedStackPosition</string>
	<key>resultCompositeSpeed</key>
	<string>customCustompaintDelay</string>
	<key>routeAgainstJob</key>
	<string>typicalPainterAlignment</string>
	<key>semanticTransformerScale</key>
	<string>offsetByStage</string>
	<key>statelessScopeStatus</key>
	<string>easyListenerRotation</string>
	<key>toolFacadeAlignment</key>
	<string>commonFeatureAppearance</string>
</dict>
</plist>
