<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerCycleRotation</key>
	<string>gramByFunction</string>
	<key>customizedThemeShade</key>
	<string>tickerInsideStage</string>
	<key>featureJobInteraction</key>
	<string>signaturePrototypeFlags</string>
	<key>labelInTask</key>
	<string>flexibleTaskDepth</string>
	<key>layerFromAction</key>
	<string>contractionFrameworkDelay</string>
	<key>similarPositionBorder</key>
	<string>slashExceptVariable</string>
	<key>storeMethodFormat</key>
	<string>dropdownbuttonAroundNumber</string>
</dict>
</plist>
