<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioLikeForm</key>
	<string>configurationSinceComposite</string>
	<key>cubeStageDelay</key>
	<string>popupFacadeBehavior</string>
	<key>logarithmOfPhase</key>
	<string>offsetFrameworkLeft</string>
	<key>matrixCompositePosition</key>
	<string>bufferKindTransparency</string>
	<key>musicInsideActivity</key>
	<string>seamlessRouteSpacing</string>
	<key>queryOperationVelocity</key>
	<string>controllerVersusBridge</string>
	<key>subscriptionObserverSpacing</key>
	<string>channelFlyweightOffset</string>
	<key>synchronousRepositoryVisibility</key>
	<string>entityStyleAppearance</string>
	<key>tangentAroundKind</key>
	<string>multiplicationAmongSystem</string>
</dict>
</plist>
