<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentLevelDistance</key>
	<string>responseFlyweightStyle</string>
	<key>associatedScrollSkewx</key>
	<string>sliderChainAlignment</string>
	<key>awaitChainDensity</key>
	<string>primaryExpandedCenter</string>
	<key>awaitDuringAction</key>
	<string>clipperModeTag</string>
	<key>containerOutsideWork</key>
	<string>logarithmByBuffer</string>
	<key>mainNavigationBorder</key>
	<string>protocolTierKind</string>
	<key>originalHandlerName</key>
	<string>textureScopeTint</string>
	<key>queryEnvironmentCenter</key>
	<string>immutableDelegateType</string>
	<key>sortedHashStyle</key>
	<string>gesturedetectorIncludeFunction</string>
	<key>temporaryResourcePressure</key>
	<string>vectorPhaseVisibility</string>
</dict>
</plist>
