<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateModeSize</key>
	<string>presenterAtOperation</string>
	<key>diversifiedSignSpeed</key>
	<string>queryWorkShape</string>
	<key>handlerFlyweightStatus</key>
	<string>eventContextFeedback</string>
	<key>lazyEventContrast</key>
	<string>equalizationDespiteDecorator</string>
	<key>modalProcessInterval</key>
	<string>actionMethodDuration</string>
	<key>taskOfScope</key>
	<string>bufferInsideParameter</string>
</dict>
</plist>
