<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionInCommand</key>
	<string>ignoredRectSkewx</string>
	<key>criticalErrorMargin</key>
	<string>secondDescriptorStatus</string>
	<key>fixedThemeHead</key>
	<string>singletonPlatformSkewx</string>
	<key>gemNearVisitor</key>
	<string>textContainContext</string>
	<key>rowPrototypeFlags</key>
	<string>histogramTempleCenter</string>
	<key>tweenBridgeDensity</key>
	<string>durationParameterTension</string>
</dict>
</plist>
