<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryOutsideVisitor</key>
	<string>lastMapInterval</string>
	<key>assetStageColor</key>
	<string>transitionAndState</string>
	<key>callbackMementoOrigin</key>
	<string>behaviorJobFrequency</string>
	<key>directlyGateName</key>
	<string>associatedCosinePadding</string>
	<key>discardedProgressbarAlignment</key>
	<string>cellVarTint</string>
	<key>equalizationPhaseHead</key>
	<string>usecaseTaskDuration</string>
	<key>groupExceptShape</key>
	<string>multiSinkPosition</string>
	<key>localBitrateContrast</key>
	<string>accordionDecorationDelay</string>
	<key>semanticInterpolationVelocity</key>
	<string>dialogsParamPosition</string>
</dict>
</plist>
