<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedAnimationMargin</key>
	<string>layoutStateCoord</string>
	<key>displayableModelFlags</key>
	<string>actionFormLeft</string>
	<key>integerShapeAppearance</key>
	<string>baseOfVisitor</string>
	<key>modelTaskOpacity</key>
	<string>mainObserverTop</string>
	<key>multiServiceAlignment</key>
	<string>segueScopeRight</string>
	<key>scrollableSemanticsFrequency</key>
	<string>basicImageEdge</string>
	<key>semanticRectTail</key>
	<string>localBoxAlignment</string>
	<key>uniqueLayerOrigin</key>
	<string>sequentialAlignmentPadding</string>
</dict>
</plist>
