<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoChartDirection</key>
	<string>granularAssetBrightness</string>
	<key>bulletChainBorder</key>
	<string>interactivePageviewForce</string>
	<key>commandValueBound</key>
	<string>queueVisitorFeedback</string>
	<key>completerAtPattern</key>
	<string>axisTaskColor</string>
	<key>groupPatternVisible</key>
	<string>webChartTag</string>
	<key>methodValueTag</key>
	<string>scrollBySingleton</string>
	<key>normSingletonDirection</key>
	<string>lostPrioritySize</string>
	<key>projectionStyleResponse</key>
	<string>activeModalOrigin</string>
	<key>serviceAmongWork</key>
	<string>providerMementoDirection</string>
	<key>symbolOrPhase</key>
	<string>boxAndComposite</string>
</dict>
</plist>
