<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeObserverCount</key>
	<string>localMultiplicationSize</string>
	<key>elasticPositionVisibility</key>
	<string>curveMediatorDistance</string>
	<key>instructionNumberCount</key>
	<string>durationThroughShape</string>
	<key>resolverStyleRotation</key>
	<string>eventAlongStructure</string>
	<key>respectiveOptionLeft</key>
	<string>isolateLayerTension</string>
	<key>sampleEnvironmentBorder</key>
	<string>themeForInterpreter</string>
	<key>sensorAboutShape</key>
	<string>oldPetFeedback</string>
</dict>
</plist>
