<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitWorkIndex</key>
	<string>tabbarBesideType</string>
	<key>imageAlongTemple</key>
	<string>semanticsLikeForm</string>
	<key>numericalStackRotation</key>
	<string>loopSinceTask</string>
	<key>sineTaskOpacity</key>
	<string>errorScopeSize</string>
	<key>usecaseAsActivity</key>
	<string>modelByLayer</string>
</dict>
</plist>
