<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionInOperation</key>
	<string>monsterByCycle</string>
	<key>assetChainInteraction</key>
	<string>channelTaskRate</string>
	<key>crudeEventStyle</key>
	<string>callbackAndVisitor</string>
	<key>discardedHandlerDensity</key>
	<string>techniqueKindMode</string>
	<key>interactorBridgeTheme</key>
	<string>chartIncludeParam</string>
	<key>permanentStreamFeedback</key>
	<string>dependencyStructureHead</string>
</dict>
</plist>
