<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasAgainstKind</key>
	<string>diffableSessionFrequency</string>
	<key>seamlessExponentFlags</key>
	<string>playbackVarDepth</string>
	<key>sensorTierSaturation</key>
	<string>storagePlatformPadding</string>
</dict>
</plist>
