<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constPreviewShade</key>
	<string>canvasAtJob</string>
	<key>convolutionAsWork</key>
	<string>multiplicationParamMomentum</string>
	<key>denseSineFlags</key>
	<string>ignoredNavigatorBrightness</string>
	<key>gramParamContrast</key>
	<string>elasticProviderPosition</string>
	<key>robustAwaitDistance</key>
	<string>greatCustompaintValidation</string>
	<key>specifyNavigatorStyle</key>
	<string>routerBesideAction</string>
	<key>streamThroughFacade</key>
	<string>buttonOrMediator</string>
	<key>taskProcessSaturation</key>
	<string>largeWorkflowRate</string>
	<key>unactivatedSessionValidation</key>
	<string>usedListviewCoord</string>
</dict>
</plist>
