<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonKindState</key>
	<string>tickerNearFramework</string>
	<key>finalMetadataTension</key>
	<string>particleNearWork</string>
	<key>kernelInterpreterOrigin</key>
	<string>bulletProxyBrightness</string>
	<key>mobileWithoutStage</key>
	<string>permanentTextTheme</string>
	<key>opaqueChartScale</key>
	<string>storeNumberInterval</string>
	<key>resourceAtMode</key>
	<string>appbarTierCenter</string>
	<key>textfieldMementoInteraction</key>
	<string>alignmentTierRate</string>
</dict>
</plist>
