<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationDecoratorDepth</key>
	<string>buttonAroundPlatform</string>
	<key>liteTopicPadding</key>
	<string>visibleChapterValidation</string>
	<key>smartTouchHead</key>
	<string>futureAndMode</string>
	<key>spotAdapterLocation</key>
	<string>decorationTierPressure</string>
	<key>spotViaOperation</key>
	<string>modulusBeyondVisitor</string>
	<key>transitionFormMargin</key>
	<string>containerAgainstWork</string>
</dict>
</plist>
