<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticIntensityVisible</key>
	<string>parallelConstraintInteraction</string>
	<key>autoGesturedetectorCenter</key>
	<string>crucialAnimationShape</string>
	<key>layerVariableTransparency</key>
	<string>nextProtocolSkewy</string>
</dict>
</plist>
