<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocOperationDistance</key>
	<string>giftTypeTag</string>
	<key>cupertinoCapsuleRate</key>
	<string>positionProxySaturation</string>
	<key>delicateInterfaceStyle</key>
	<string>mobileAtWork</string>
	<key>positionPrototypeCoord</key>
	<string>equipmentSingletonSpacing</string>
	<key>sliderContainDecorator</key>
	<string>dialogsOutsideTemple</string>
	<key>ternaryBeyondFlyweight</key>
	<string>workflowContextBottom</string>
</dict>
</plist>
