<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedMenuVelocity</key>
	<string>comprehensiveLossSkewx</string>
	<key>buttonAwayShape</key>
	<string>constNibOffset</string>
	<key>effectNearProcess</key>
	<string>crucialQueueColor</string>
	<key>monsterTypeMargin</key>
	<string>delegatePerVariable</string>
	<key>scaffoldCyclePressure</key>
	<string>featureAsAdapter</string>
	<key>spriteOfNumber</key>
	<string>futureCommandMomentum</string>
	<key>statefulProxySpeed</key>
	<string>uniqueRouterIndex</string>
</dict>
</plist>
