<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectDespiteSingleton</key>
	<string>functionalScaleDirection</string>
	<key>futureAgainstStrategy</key>
	<string>compositionalGradientFlags</string>
	<key>intuitiveHistogramBrightness</key>
	<string>dedicatedStampPosition</string>
	<key>largeContainerAppearance</key>
	<string>progressbarVisitorShade</string>
	<key>listviewAlongValue</key>
	<string>particleProxyHue</string>
	<key>optionCompositeInterval</key>
	<string>radiusAroundMediator</string>
	<key>requestStageDirection</key>
	<string>workflowObserverHead</string>
	<key>resourceTierTheme</key>
	<string>handlerAlongSystem</string>
	<key>retainedThemeBound</key>
	<string>providerAtAdapter</string>
	<key>webCertificateTension</key>
	<string>momentumVersusTier</string>
</dict>
</plist>
