<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderFacadeForce</key>
	<string>baseCycleFlags</string>
	<key>builderOperationTheme</key>
	<string>asyncPrototypeTension</string>
	<key>optionExceptPattern</key>
	<string>activeInkwellDistance</string>
	<key>parallelCubeOffset</key>
	<string>synchronousControllerType</string>
	<key>radioActionHue</key>
	<string>timerAmongSingleton</string>
</dict>
</plist>
