<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleProfileBottom</key>
	<string>customizedRowDelay</string>
	<key>constraintIncludeTier</key>
	<string>asyncDocumentFrequency</string>
	<key>gesturePrototypeFormat</key>
	<string>notificationSystemShade</string>
	<key>logAmongNumber</key>
	<string>specifyOperationDelay</string>
	<key>optimizerProxyVisible</key>
	<string>normalPositionHue</string>
	<key>parallelLocalizationName</key>
	<string>keyBuilderBound</string>
	<key>taskInProxy</key>
	<string>curveChainTop</string>
	<key>workflowInterpreterOrigin</key>
	<string>symbolPatternHead</string>
</dict>
</plist>
