<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterStageFrequency</key>
	<string>logByChain</string>
	<key>flexStructureColor</key>
	<string>synchronousRemainderIndex</string>
	<key>flexibleTextureDistance</key>
	<string>comprehensiveEntityOffset</string>
	<key>keyCacheAcceleration</key>
	<string>navigationLayerPosition</string>
	<key>missedTransitionPosition</key>
	<string>synchronousPaddingLeft</string>
	<key>riverpodBesideKind</key>
	<string>constIsolateType</string>
</dict>
</plist>
