<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentVarOffset</key>
	<string>monsterAdapterFlags</string>
	<key>customListviewAppearance</key>
	<string>entropyBeyondOperation</string>
	<key>easyExceptionTransparency</key>
	<string>reductionAndPrototype</string>
	<key>otherCompositionSpeed</key>
	<string>asynchronousWidgetKind</string>
	<key>secondRectResponse</key>
	<string>ignoredDocumentSkewx</string>
	<key>sensorLevelRight</key>
	<string>pivotalSliderRate</string>
	<key>storeAroundEnvironment</key>
	<string>handlerPatternPressure</string>
</dict>
</plist>
