<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionVersusParameter</key>
	<string>elasticInjectionStyle</string>
	<key>coordinatorProcessCount</key>
	<string>techniqueEnvironmentHead</string>
	<key>criticalRadiusIndex</key>
	<string>segueInterpreterPressure</string>
	<key>currentMobileVelocity</key>
	<string>curvePhaseResponse</string>
	<key>fixedFeatureTag</key>
	<string>curveAboutLevel</string>
	<key>materialAnimationAppearance</key>
	<string>litePopupEdge</string>
	<key>sliderOrVariable</key>
	<string>customizedContainerScale</string>
</dict>
</plist>
