<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertPrototypeVisibility</key>
	<string>hashKindStatus</string>
	<key>animationBesideParam</key>
	<string>stepInForm</string>
	<key>chapterAgainstMethod</key>
	<string>finalColumnTag</string>
	<key>coordinatorActivityTransparency</key>
	<string>callbackLikeCommand</string>
	<key>interpolationNearFacade</key>
	<string>prevRectStyle</string>
	<key>memberWorkEdge</key>
	<string>interactorAroundChain</string>
	<key>mobileLikeParameter</key>
	<string>mainDelegateMomentum</string>
	<key>sensorOfWork</key>
	<string>methodOperationInset</string>
	<key>toolOrBuffer</key>
	<string>interfaceInsideValue</string>
</dict>
</plist>
