<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncPriorityBound</key>
	<string>paddingStateAlignment</string>
	<key>featureAboutWork</key>
	<string>explicitResultSpacing</string>
	<key>requestOutsideNumber</key>
	<string>materialProxyStyle</string>
	<key>skirtWithStrategy</key>
	<string>respectiveDurationBound</string>
</dict>
</plist>
