<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerWorkStyle</key>
	<string>subtleBitrateFrequency</string>
	<key>cupertinoChartCenter</key>
	<string>cellMediatorTension</string>
	<key>cursorPerSingleton</key>
	<string>globalOffsetState</string>
	<key>frameExceptFacade</key>
	<string>eventCompositeLeft</string>
	<key>ignoredAwaitState</key>
	<string>rapidHeroPressure</string>
	<key>rowFromState</key>
	<string>statelessBitrateVisibility</string>
	<key>sinkCompositeDelay</key>
	<string>composableSceneLeft</string>
	<key>smartCatalystBorder</key>
	<string>robustSingletonColor</string>
	<key>subtleViewFormat</key>
	<string>concurrentUsecaseBottom</string>
	<key>tableUntilMemento</key>
	<string>similarMonsterCount</string>
</dict>
</plist>
