<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxCommandEdge</key>
	<string>sceneValueBorder</string>
	<key>checklistActivityContrast</key>
	<string>responseContainTier</string>
	<key>kernelExceptEnvironment</key>
	<string>viewPatternShade</string>
	<key>numericalApertureBorder</key>
	<string>screenFacadeTint</string>
	<key>switchInterpreterInset</key>
	<string>animationInterpreterFlags</string>
	<key>zoneAwayPhase</key>
	<string>retainedTweenPressure</string>
</dict>
</plist>
