<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveCurveInset</key>
	<string>gesturePlatformContrast</string>
	<key>commonConsumerAcceleration</key>
	<string>allocatorTempleTail</string>
	<key>completerFromPrototype</key>
	<string>immutableGramSize</string>
	<key>delicateResultMomentum</key>
	<string>spriteDecoratorInset</string>
</dict>
</plist>
