<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferBesideStage</key>
	<string>bitrateNearComposite</string>
	<key>cupertinoStateLeft</key>
	<string>cellWorkShade</string>
	<key>cupertinoSystemBound</key>
	<string>missionAndVariable</string>
	<key>descriptorContextShade</key>
	<string>topicExceptTask</string>
	<key>permissiveHeapForce</key>
	<string>integerInLayer</string>
	<key>reactiveViewTail</key>
	<string>mutableNavigatorMargin</string>
</dict>
</plist>
