<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateFromFunction</key>
	<string>respectiveTableIndex</string>
	<key>presenterActionSize</key>
	<string>uniqueResolverDelay</string>
	<key>primaryTimerMode</key>
	<string>immutableAsyncBehavior</string>
	<key>priorCharacterContrast</key>
	<string>subpixelForTier</string>
	<key>sizedboxFlyweightIndex</key>
	<string>texturePlatformOpacity</string>
	<key>stepOfVar</key>
	<string>logShapeVelocity</string>
	<key>temporaryStoreSpeed</key>
	<string>graphicMethodSaturation</string>
	<key>touchAroundBridge</key>
	<string>presenterThanParameter</string>
</dict>
</plist>
