<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasMementoSize</key>
	<string>grainContainLayer</string>
	<key>challengePhasePosition</key>
	<string>tweenEnvironmentShade</string>
	<key>independentActionBottom</key>
	<string>roleTaskInterval</string>
	<key>layoutActionDensity</key>
	<string>opaqueInkwellPosition</string>
	<key>normalStatefulFlags</key>
	<string>histogramPrototypeFeedback</string>
	<key>plateOutsidePattern</key>
	<string>managerAdapterStyle</string>
	<key>usedBorderSpacing</key>
	<string>streamAsPrototype</string>
</dict>
</plist>
