<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferBridgeShape</key>
	<string>otherTransformerBound</string>
	<key>comprehensiveCacheBorder</key>
	<string>nativeMediaInset</string>
	<key>decorationLikeSingleton</key>
	<string>futureLayerVisible</string>
	<key>richtextNumberHue</key>
	<string>layoutDespiteChain</string>
	<key>robustIndicatorType</key>
	<string>parallelDecorationDepth</string>
	<key>routeNumberBehavior</key>
	<string>asyncCommandVelocity</string>
	<key>sizeAgainstEnvironment</key>
	<string>uniqueMarginDistance</string>
	<key>streamPlatformAlignment</key>
	<string>nodeVarBehavior</string>
</dict>
</plist>
