<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseTouchCoord</key>
	<string>assetFunctionTransparency</string>
	<key>fixedSymbolFrequency</key>
	<string>transformerTypeSkewx</string>
	<key>flexEnvironmentHue</key>
	<string>inactiveManagerVisibility</string>
	<key>navigationActivityHue</key>
	<string>integerStageSaturation</string>
	<key>petPrototypeBehavior</key>
	<string>keyRoleSpacing</string>
	<key>richtextBeyondLevel</key>
	<string>delegateFromWork</string>
	<key>tappableSpriteDistance</key>
	<string>autoFragmentTag</string>
	<key>timerStrategySpeed</key>
	<string>frameCommandDuration</string>
	<key>utilStageState</key>
	<string>composableDescriptorForce</string>
</dict>
</plist>
