<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlth5R7YvA6AUAta6zbinrZjZLmdcm3bk</string>
	<key>GCM_SENDER_ID</key>
	<string>849004919697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.95Y958W48Y</string>
	<key>PROJECT_ID</key>
	<string>plee-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>plee-ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:849004919697:ios:605433fe45c08f608b7830</string>
</dict>
</plist>
