<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expandedLikeMethod</key>
	<string>chapterParameterInterval</string>
	<key>layoutPhaseTension</key>
	<string>utilDespiteChain</string>
	<key>masterBridgeMode</key>
	<string>persistentMobileHead</string>
	<key>resourceLikeMode</key>
	<string>futureScopeVisible</string>
</dict>
</plist>
