<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalBatchTail</key>
	<string>responseVersusVar</string>
	<key>displayableMediaSkewx</key>
	<string>resourceByForm</string>
	<key>effectThanSingleton</key>
	<string>graphicPlatformName</string>
	<key>swiftVersusMethod</key>
	<string>autoWidgetCenter</string>
</dict>
</plist>
