<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderAgainstDecorator</key>
	<string>boxshadowMementoShade</string>
	<key>decorationPerBuffer</key>
	<string>shaderMementoTension</string>
	<key>directlyLabelInteraction</key>
	<string>navigatorContainSystem</string>
	<key>euclideanTaskRate</key>
	<string>elasticGradientRight</string>
	<key>isolateAboutCommand</key>
	<string>originalCurveMargin</string>
	<key>offsetPatternStatus</key>
	<string>resolverStateMode</string>
	<key>radioSingletonMode</key>
	<string>statefulAboutAdapter</string>
	<key>resizableDelegateResponse</key>
	<string>flexibleArithmeticFeedback</string>
	<key>responsiveAccessoryColor</key>
	<string>baselineAndObserver</string>
	<key>stateExceptAdapter</key>
	<string>difficultEffectCount</string>
</dict>
</plist>
