<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasLayerValidation</key>
	<string>listenerAwayEnvironment</string>
	<key>configurationCycleDelay</key>
	<string>compositionIncludeScope</string>
	<key>controllerVarSaturation</key>
	<string>rowOrAdapter</string>
	<key>gesturedetectorAboutMode</key>
	<string>currentPrecisionColor</string>
	<key>optionChainAlignment</key>
	<string>nextNavigatorInterval</string>
	<key>tweenVariableMomentum</key>
	<string>adaptiveAlertDuration</string>
</dict>
</plist>
