<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorProxyBorder</key>
	<string>commonProfileStyle</string>
	<key>constraintProxySpeed</key>
	<string>diversifiedCompleterPadding</string>
	<key>cosineTierDirection</key>
	<string>skirtStateInterval</string>
	<key>cubitJobAcceleration</key>
	<string>previewBridgeBehavior</string>
	<key>futureBesideStage</key>
	<string>typicalMenuScale</string>
	<key>gemBridgeColor</key>
	<string>activityModeShape</string>
	<key>gramMethodMargin</key>
	<string>smartAlignmentTag</string>
	<key>hierarchicalMemberFrequency</key>
	<string>inactiveSinkDensity</string>
	<key>parallelProgressbarStyle</key>
	<string>discardedArithmeticColor</string>
	<key>taskWithPrototype</key>
	<string>immutableRectBorder</string>
</dict>
</plist>
