<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAgainstSystem</key>
	<string>opaqueGiftTheme</string>
	<key>axisFacadeTail</key>
	<string>usageUntilStyle</string>
	<key>completionPlatformFlags</key>
	<string>prevManagerDirection</string>
	<key>exceptionAsPhase</key>
	<string>protocolAroundOperation</string>
	<key>listenerViaLayer</key>
	<string>errorOutsideMethod</string>
	<key>metadataVarBrightness</key>
	<string>heapScopeTheme</string>
	<key>navigatorNumberAcceleration</key>
	<string>customizedErrorTint</string>
	<key>previewJobVisible</key>
	<string>denseMultiplicationValidation</string>
	<key>publicEntropyPadding</key>
	<string>relationalNormColor</string>
	<key>subpixelAroundType</key>
	<string>gesturedetectorNumberMargin</string>
</dict>
</plist>
