<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>immutableExponentIndex</key>
	<string>commonTextResponse</string>
	<key>interactorChainDuration</key>
	<string>slashDuringWork</string>
	<key>listenerThroughVariable</key>
	<string>firstCompositionShape</string>
	<key>opaqueTextAlignment</key>
	<string>sequentialMethodPadding</string>
	<key>requestAndState</key>
	<string>cartesianRectRate</string>
	<key>sliderSingletonContrast</key>
	<string>rowOperationShade</string>
	<key>techniqueOutsideMemento</key>
	<string>graphicAmongLevel</string>
</dict>
</plist>
