<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveZoneKind</key>
	<string>popupLayerForce</string>
	<key>cartesianBoxshadowOpacity</key>
	<string>gesturedetectorCommandColor</string>
	<key>drawerShapeResponse</key>
	<string>sinkLayerRotation</string>
	<key>geometricExceptionRotation</key>
	<string>containerContainJob</string>
	<key>listenerTierSpeed</key>
	<string>synchronousSingletonBehavior</string>
	<key>referenceAndType</key>
	<string>parallelStateMargin</string>
	<key>repositoryTempleLeft</key>
	<string>sessionAboutParameter</string>
	<key>zonePerEnvironment</key>
	<string>completerAdapterShape</string>
</dict>
</plist>
