<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerProcessHead</key>
	<string>smartTextfieldSize</string>
	<key>cubitAlongMemento</key>
	<string>activityEnvironmentDelay</string>
	<key>displayableButtonColor</key>
	<string>tabbarStateIndex</string>
	<key>drawerParamLocation</key>
	<string>granularBatchLeft</string>
	<key>fusedObserverOpacity</key>
	<string>accessoryStateName</string>
	<key>optimizerOutsideParameter</key>
	<string>utilLikeTemple</string>
	<key>priorLayoutRotation</key>
	<string>semanticViewType</string>
	<key>sophisticatedIntensityDistance</key>
	<string>rowProxyPosition</string>
	<key>streamByObserver</key>
	<string>factoryFormSaturation</string>
	<key>symmetricZoneSpacing</key>
	<string>descriptionStructureTheme</string>
</dict>
</plist>
