<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedPetSpacing</key>
	<string>rapidNavigatorFlags</string>
	<key>backwardAwaitRotation</key>
	<string>displayableConstraintHead</string>
	<key>callbackVersusAction</key>
	<string>hashCompositeMode</string>
	<key>mainControllerForce</key>
	<string>routeLikeMemento</string>
	<key>storageAtLevel</key>
	<string>mobileWithStructure</string>
</dict>
</plist>
