<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleGridviewRate</key>
	<string>themeAtStrategy</string>
	<key>asyncNearJob</key>
	<string>customBaselineLeft</string>
	<key>completerWithMediator</key>
	<string>actionStyleOrientation</string>
	<key>constTextureSaturation</key>
	<string>uniqueBuilderTail</string>
	<key>contractionModeInteraction</key>
	<string>heapFromTemple</string>
	<key>drawerVarRotation</key>
	<string>protocolVariableOrigin</string>
	<key>sineFunctionName</key>
	<string>nativeStatelessTint</string>
	<key>sizeContextPosition</key>
	<string>missedEquipmentBorder</string>
	<key>webServiceAcceleration</key>
	<string>dropdownbuttonOrForm</string>
</dict>
</plist>
