<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticGrainDensity</key>
	<string>activityWorkSkewy</string>
	<key>arithmeticObserverResponse</key>
	<string>serviceFacadeIndex</string>
	<key>declarativeConfigurationMomentum</key>
	<string>sinkInsideVisitor</string>
	<key>difficultProgressbarOrigin</key>
	<string>nodeContainProxy</string>
	<key>unactivatedResourceSkewy</key>
	<string>sequentialExponentPressure</string>
</dict>
</plist>
