<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousRemainderTail</key>
	<string>graphBufferFormat</string>
	<key>declarativeLocalizationTheme</key>
	<string>alertAsPattern</string>
	<key>normBeyondTemple</key>
	<string>texturePrototypeTop</string>
	<key>scaffoldSystemRate</key>
	<string>euclideanChallengeInterval</string>
</dict>
</plist>
