<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileCompleterDuration</key>
	<string>remainderActionOrientation</string>
	<key>axisProxyOffset</key>
	<string>bulletAwayDecorator</string>
	<key>constraintAndVisitor</key>
	<string>inactiveDelegateStyle</string>
	<key>discardedRowTension</key>
	<string>consumerOfType</string>
	<key>iterativeExponentEdge</key>
	<string>prismaticMarginInset</string>
	<key>nextSwitchEdge</key>
	<string>streamOfPlatform</string>
	<key>publicCardSize</key>
	<string>metadataExceptLayer</string>
	<key>tickerProxyPressure</key>
	<string>actionParameterBrightness</string>
</dict>
</plist>
