<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferPrototypeVisible</key>
	<string>frameAboutVisitor</string>
	<key>channelsInFramework</key>
	<string>responsiveLossShape</string>
	<key>controllerThroughPlatform</key>
	<string>radiusNearMemento</string>
	<key>navigatorFormBrightness</key>
	<string>singleAsyncMode</string>
	<key>pageviewAboutBridge</key>
	<string>aspectActivitySaturation</string>
	<key>prismaticPreviewSaturation</key>
	<string>timerWithVar</string>
	<key>profileAboutBridge</key>
	<string>uniformFeatureRotation</string>
	<key>reductionAndKind</key>
	<string>utilProxyStyle</string>
	<key>significantTweenState</key>
	<string>movementTypeTint</string>
</dict>
</plist>
