<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryDuringObserver</key>
	<string>rectAsDecorator</string>
	<key>entityActivityAcceleration</key>
	<string>lazySegmentStyle</string>
	<key>injectionExceptProcess</key>
	<string>liteMethodAlignment</string>
	<key>lazyDependencyState</key>
	<string>popupTaskFlags</string>
	<key>methodIncludePrototype</key>
	<string>awaitBufferDuration</string>
	<key>nativePlateType</key>
	<string>layoutAsNumber</string>
	<key>reactiveTextLocation</key>
	<string>stateWithVariable</string>
	<key>seamlessResourceRotation</key>
	<string>unsortedTransformerInset</string>
	<key>stateCompositeContrast</key>
	<string>curveDecoratorPosition</string>
</dict>
</plist>
