<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitExceptComposite</key>
	<string>streamTypeAlignment</string>
	<key>cubitOrProxy</key>
	<string>switchFrameworkRate</string>
	<key>functionalGiftLeft</key>
	<string>titleViaFunction</string>
	<key>kernelProcessBorder</key>
	<string>advancedCupertinoDuration</string>
	<key>mediaqueryEnvironmentHead</key>
	<string>containerSingletonBehavior</string>
	<key>spriteContainSingleton</key>
	<string>asynchronousMethodRotation</string>
	<key>subsequentPrecisionTail</key>
	<string>disparateMobileMomentum</string>
	<key>ternaryScopeOrigin</key>
	<string>displayableTickerCount</string>
</dict>
</plist>
