<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerAgainstBridge</key>
	<string>dependencyAwayScope</string>
	<key>comprehensiveQueueBound</key>
	<string>characterWithPrototype</string>
	<key>customizedTextDelay</key>
	<string>inkwellStructureSpacing</string>
	<key>localizationAroundFlyweight</key>
	<string>interpolationTempleContrast</string>
	<key>modalExceptShape</key>
	<string>decorationPrototypeKind</string>
	<key>modulusVersusFacade</key>
	<string>completionAgainstMediator</string>
	<key>radioFrameworkAlignment</key>
	<string>sizedboxLikeTier</string>
	<key>sliderAroundParam</key>
	<string>loopNearLevel</string>
	<key>standaloneCertificateResponse</key>
	<string>asyncGiftDistance</string>
	<key>tweenFromNumber</key>
	<string>newestResponseColor</string>
</dict>
</plist>
