<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoBufferOrigin</key>
	<string>currentFutureEdge</string>
	<key>mobileCycleStatus</key>
	<string>collectionDecoratorTail</string>
	<key>observerStageForce</key>
	<string>prevScrollTransparency</string>
	<key>pointOrProxy</key>
	<string>directChannelsShade</string>
</dict>
</plist>
