<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelUntilContext</key>
	<string>allocatorNearVariable</string>
	<key>inactiveArithmeticSize</key>
	<string>buttonDuringScope</string>
	<key>layerCompositeVisible</key>
	<string>crucialInjectionCoord</string>
	<key>providerBridgeAppearance</key>
	<string>batchByActivity</string>
	<key>semanticPreviewCoord</key>
	<string>oldAppbarSpeed</string>
	<key>semanticsMethodSkewx</key>
	<string>cursorUntilShape</string>
</dict>
</plist>
