<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicGemForce</key>
	<string>marginAdapterVisibility</string>
	<key>constraintOperationBorder</key>
	<string>temporaryCallbackMargin</string>
	<key>indicatorPrototypeMode</key>
	<string>easyAppbarScale</string>
	<key>localizationCommandForce</key>
	<string>subtleMobileCount</string>
	<key>musicStyleSkewx</key>
	<string>optimizerAmongSystem</string>
	<key>progressbarThroughProxy</key>
	<string>segueExceptParameter</string>
	<key>subscriptionInsideCycle</key>
	<string>coordinatorWorkOrientation</string>
</dict>
</plist>
