<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteVectorOffset</key>
	<string>asyncDuringPrototype</string>
	<key>draggableTabviewSkewx</key>
	<string>notificationPrototypeDensity</string>
	<key>grainStateDirection</key>
	<string>gramContainParameter</string>
	<key>mediaqueryTemplePressure</key>
	<string>primaryGiftCount</string>
	<key>requestStyleFeedback</key>
	<string>builderDuringInterpreter</string>
</dict>
</plist>
