<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderKindDirection</key>
	<string>permissiveOverlayTail</string>
	<key>buttonInsideBuffer</key>
	<string>activatedControllerSaturation</string>
	<key>draggableLogLeft</key>
	<string>finalFrameTag</string>
	<key>elasticSampleSpeed</key>
	<string>textAsScope</string>
	<key>entityMementoContrast</key>
	<string>significantRouteOrigin</string>
	<key>imageFormMargin</key>
	<string>secondActionBorder</string>
	<key>managerTypeKind</key>
	<string>serviceByParameter</string>
	<key>storeStateTheme</key>
	<string>configurationUntilBuffer</string>
	<key>switchAsForm</key>
	<string>screenOfFacade</string>
</dict>
</plist>
