<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionPatternIndex</key>
	<string>presenterPatternSize</string>
	<key>methodOfSystem</key>
	<string>textVisitorType</string>
	<key>queryOrMode</key>
	<string>backwardStampTop</string>
	<key>smallInteractorName</key>
	<string>delicateOffsetTheme</string>
</dict>
</plist>
