<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileUtilTail</key>
	<string>pivotalServiceAcceleration</string>
	<key>commandStrategyVelocity</key>
	<string>tensorSceneTension</string>
	<key>radiusCompositeBehavior</key>
	<string>semanticsTempleSaturation</string>
	<key>smallFeatureMode</key>
	<string>delegateContextSpacing</string>
</dict>
</plist>
