<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveInterfaceSkewy</key>
	<string>resilientCallbackHue</string>
	<key>coordinatorMementoRight</key>
	<string>sensorThanAction</string>
	<key>decorationInMode</key>
	<string>functionalDocumentContrast</string>
	<key>prismaticPositionTheme</key>
	<string>requestAtJob</string>
	<key>protectedCursorVelocity</key>
	<string>managerShapeColor</string>
	<key>screenExceptInterpreter</key>
	<string>mediumGemShade</string>
	<key>stateWithStructure</key>
	<string>dynamicButtonLocation</string>
	<key>vectorDuringStrategy</key>
	<string>intensityParameterDepth</string>
</dict>
</plist>
