<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedMediaVisible</key>
	<string>coordinatorSinceComposite</string>
	<key>beginnerNodeVisibility</key>
	<string>decorationAboutStyle</string>
	<key>eventForPrototype</key>
	<string>plateCompositeValidation</string>
	<key>liteRemainderCount</key>
	<string>mutableCardOrientation</string>
	<key>mediaBesidePlatform</key>
	<string>completerLikeFunction</string>
	<key>mediocreObserverFormat</key>
	<string>managerCommandFlags</string>
	<key>significantResponseAppearance</key>
	<string>keyStoragePressure</string>
	<key>switchByMethod</key>
	<string>displayableBufferDirection</string>
</dict>
</plist>
