<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeOffsetDensity</key>
	<string>managerWithVariable</string>
	<key>decorationExceptTemple</key>
	<string>bitrateDecoratorCenter</string>
	<key>decorationThroughProxy</key>
	<string>typicalOperationSize</string>
	<key>globalTaskKind</key>
	<string>independentAnimationSkewy</string>
	<key>grainAmongVisitor</key>
	<string>substantialGroupBehavior</string>
	<key>resilientConsumerTheme</key>
	<string>gridScopeTension</string>
	<key>routeCompositeOpacity</key>
	<string>viewAgainstBridge</string>
	<key>scaleOrLayer</key>
	<string>usedQueryStyle</string>
	<key>statelessLayerCoord</key>
	<string>materialRepositoryIndex</string>
	<key>tangentAmongContext</key>
	<string>storeFrameworkForce</string>
</dict>
</plist>
