<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertContextCoord</key>
	<string>invisibleReducerFeedback</string>
	<key>alignmentOrBridge</key>
	<string>offsetPatternBorder</string>
	<key>cycleDespiteMode</key>
	<string>notificationAroundNumber</string>
	<key>interactorVisitorTint</key>
	<string>sessionBeyondTier</string>
	<key>mobileNumberBottom</key>
	<string>observerObserverOrigin</string>
	<key>paddingIncludeContext</key>
	<string>elasticGroupTension</string>
	<key>previewContextVelocity</key>
	<string>actionForTask</string>
	<key>roleAsJob</key>
	<string>enabledLabelStyle</string>
	<key>semanticSpecifierDelay</key>
	<string>stampBridgeIndex</string>
</dict>
</plist>
