<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyPetOrientation</key>
	<string>handlerEnvironmentCenter</string>
	<key>nextColumnMomentum</key>
	<string>dialogsBridgeState</string>
	<key>queryAroundShape</key>
	<string>storeAndMode</string>
	<key>tableTierDirection</key>
	<string>queryPrototypeKind</string>
	<key>titleForStructure</key>
	<string>sceneBeyondState</string>
</dict>
</plist>
