<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>greatContainerForce</key>
	<string>radiusFunctionLeft</string>
	<key>roleOfVar</key>
	<string>coordinatorTaskTension</string>
	<key>semanticsVarEdge</key>
	<string>skinOrActivity</string>
</dict>
</plist>
