<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedDocumentDelay</key>
	<string>storeProcessInteraction</string>
	<key>graphBeyondChain</key>
	<string>geometricContainerDepth</string>
	<key>normalUsecaseRotation</key>
	<string>materialMediatorMargin</string>
	<key>sceneProcessValidation</key>
	<string>iconContainCommand</string>
	<key>switchStyleOpacity</key>
	<string>firstProfileTheme</string>
</dict>
</plist>
