<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartThanTask</key>
	<string>criticalPresenterTransparency</string>
	<key>descriptorMethodTension</key>
	<string>alignmentFacadeTint</string>
	<key>geometricRadiusShade</key>
	<string>alignmentActionHead</string>
	<key>queryMementoDelay</key>
	<string>subpixelJobInteraction</string>
	<key>similarRouteAlignment</key>
	<string>blocSingletonCenter</string>
	<key>unaryModeType</key>
	<string>deferredStoreRotation</string>
</dict>
</plist>
