<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fusedSizeStyle</key>
	<string>responsiveRouteInset</string>
	<key>interfaceOfContext</key>
	<string>pageviewBeyondState</string>
	<key>themeChainBound</key>
	<string>dropdownbuttonIncludeObserver</string>
</dict>
</plist>
