<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledAxisCoord</key>
	<string>fragmentFromContext</string>
	<key>extensionTempleSkewx</key>
	<string>invisibleCommandMode</string>
	<key>factoryBesideBuffer</key>
	<string>commandVarInset</string>
	<key>gridTemplePosition</key>
	<string>alertMementoFrequency</string>
	<key>primaryInterfaceMomentum</key>
	<string>factoryPerMode</string>
	<key>priorErrorOpacity</key>
	<string>lossDecoratorVisibility</string>
	<key>resizableRowContrast</key>
	<string>cycleViaLevel</string>
	<key>serviceParamName</key>
	<string>mediumMethodType</string>
	<key>significantPointInterval</key>
	<string>resolverLayerPadding</string>
	<key>symmetricCoordinatorType</key>
	<string>requiredSpineSkewy</string>
</dict>
</plist>
