<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleSegueOrientation</key>
	<string>utilOrEnvironment</string>
	<key>blocOutsideSingleton</key>
	<string>dedicatedBlocFrequency</string>
	<key>boxshadowAlongInterpreter</key>
	<string>animatedNotifierTop</string>
	<key>skirtLevelAcceleration</key>
	<string>vectorExceptState</string>
	<key>stepAroundMediator</key>
	<string>sortedTickerSize</string>
</dict>
</plist>
