<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleScreenHead</key>
	<string>effectFrameworkOffset</string>
	<key>animatedInterpolationVisible</key>
	<string>interactorTierRotation</string>
	<key>asyncConfigurationStyle</key>
	<string>numericalTangentDepth</string>
	<key>awaitAroundStrategy</key>
	<string>consultativeBinaryStatus</string>
	<key>entropyStageSaturation</key>
	<string>certificatePerDecorator</string>
	<key>equipmentJobOrigin</key>
	<string>tensorTweenShade</string>
	<key>histogramOperationKind</key>
	<string>spineAwayJob</string>
	<key>mediumTimerContrast</key>
	<string>delegateAlongSystem</string>
	<key>modulusPerBuffer</key>
	<string>directlySinkIndex</string>
	<key>opaqueAsyncTransparency</key>
	<string>gridviewVersusMemento</string>
</dict>
</plist>
