<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncCubePressure</key>
	<string>projectShapeTop</string>
	<key>flexibleNibType</key>
	<string>tappablePaddingAcceleration</string>
	<key>mutableTextForce</key>
	<string>nextTaskDuration</string>
	<key>queueFormInteraction</key>
	<string>isolateValueBorder</string>
	<key>requestAdapterTension</key>
	<string>dependencyNumberOrientation</string>
	<key>stateThroughObserver</key>
	<string>chartVarLocation</string>
</dict>
</plist>
