<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryFromTier</key>
	<string>diversifiedSubscriptionStyle</string>
	<key>drawerFromMediator</key>
	<string>imageWithPhase</string>
	<key>inheritedMenuRate</key>
	<string>factoryStructureBorder</string>
	<key>lostSinkSpeed</key>
	<string>priorityPerKind</string>
	<key>paddingScopeFormat</key>
	<string>prismaticRadiusShape</string>
	<key>persistentStampPadding</key>
	<string>sequentialPageviewTint</string>
	<key>providerAmongType</key>
	<string>priorTweenType</string>
	<key>signatureBeyondAdapter</key>
	<string>durationWorkOffset</string>
</dict>
</plist>
