<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intensityInterpreterKind</key>
	<string>similarDimensionFeedback</string>
	<key>listenerStateAlignment</key>
	<string>arithmeticTaskColor</string>
	<key>screenStrategyPadding</key>
	<string>smartDurationDistance</string>
	<key>sophisticatedLabelTint</key>
	<string>lazyEffectVisible</string>
	<key>swiftWithEnvironment</key>
	<string>modulusBufferContrast</string>
	<key>tangentStrategyBrightness</key>
	<string>cartesianResolverEdge</string>
</dict>
</plist>
