<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationIncludeBuffer</key>
	<string>serviceTypeTint</string>
	<key>currentQueryBorder</key>
	<string>apertureFromValue</string>
	<key>featureThroughFacade</key>
	<string>similarCoordinatorDistance</string>
	<key>giftAboutMethod</key>
	<string>instructionFlyweightDensity</string>
	<key>histogramBridgeBound</key>
	<string>rectSingletonTint</string>
	<key>managerStructureDistance</key>
	<string>labelOrMode</string>
	<key>oldCoordinatorMomentum</key>
	<string>layoutBeyondWork</string>
	<key>pivotalCacheLocation</key>
	<string>radiusScopeStyle</string>
	<key>resultVarRight</key>
	<string>gradientTaskStatus</string>
	<key>sizeBufferDelay</key>
	<string>spotLevelCoord</string>
</dict>
</plist>
