<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocCycleOrientation</key>
	<string>gesturedetectorTierEdge</string>
	<key>completerPerVisitor</key>
	<string>asyncAlongTier</string>
	<key>criticalFutureBorder</key>
	<string>agileTextureIndex</string>
	<key>interactiveBlocMode</key>
	<string>spineValueTop</string>
	<key>nextUtilDensity</key>
	<string>injectionAdapterDelay</string>
	<key>particleForWork</key>
	<string>diversifiedColumnDuration</string>
	<key>sliderAmongStyle</key>
	<string>notifierSinceType</string>
	<key>tickerExceptCommand</key>
	<string>requiredCertificateSaturation</string>
</dict>
</plist>
