<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorShapeColor</key>
	<string>gesturedetectorAtFunction</string>
	<key>groupBesideLayer</key>
	<string>materialContainLevel</string>
	<key>layoutPerType</key>
	<string>mobileFromFunction</string>
	<key>opaqueTangentVelocity</key>
	<string>techniqueLevelRight</string>
</dict>
</plist>
