<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultPopupVelocity</key>
	<string>mediumRowVisibility</string>
	<key>ephemeralTransitionBehavior</key>
	<string>basicLabelTint</string>
	<key>equalizationDespitePrototype</key>
	<string>requestStateLeft</string>
	<key>euclideanBulletHue</key>
	<string>routeInActivity</string>
	<key>resolverValueAlignment</key>
	<string>builderProcessBound</string>
	<key>routeNearFramework</key>
	<string>slashOrAction</string>
	<key>stampAndChain</key>
	<string>remainderScopeValidation</string>
	<key>stampTempleDistance</key>
	<string>flexibleSliderVisible</string>
	<key>statelessCapacitiesTint</key>
	<string>typicalSubpixelDuration</string>
</dict>
</plist>
