<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curvePlatformFeedback</key>
	<string>sortedWorkflowCenter</string>
	<key>descriptionSystemVelocity</key>
	<string>scaleThroughPhase</string>
	<key>dialogsWithoutObserver</key>
	<string>callbackTempleEdge</string>
	<key>exceptionTypeHead</key>
	<string>viewWithoutSingleton</string>
	<key>firstPositionCoord</key>
	<string>observerCompositeSkewy</string>
	<key>instructionActionColor</key>
	<string>mainBrushAlignment</string>
	<key>mutableModelVisibility</key>
	<string>consultativeProjectOpacity</string>
</dict>
</plist>
