<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorAndPlatform</key>
	<string>frameLevelStatus</string>
	<key>delicateCubitLocation</key>
	<string>usageDespiteEnvironment</string>
	<key>dialogsExceptVar</key>
	<string>oldRowShape</string>
	<key>groupDecoratorInterval</key>
	<string>tickerShapeBound</string>
	<key>lazyStreamMode</key>
	<string>responseAlongPrototype</string>
	<key>loopContainLayer</key>
	<string>relationalTouchBorder</string>
	<key>navigationActivityTheme</key>
	<string>positionedWithoutSingleton</string>
	<key>roleContainPattern</key>
	<string>variantProcessSpeed</string>
	<key>rowWithoutObserver</key>
	<string>subtleViewInterval</string>
	<key>topicAlongShape</key>
	<string>concurrentAnimationShade</string>
</dict>
</plist>
