<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveMenuMode</key>
	<string>boxKindContrast</string>
	<key>blocInMode</key>
	<string>listenerStyleDepth</string>
	<key>constScrollAppearance</key>
	<string>variantOutsideProcess</string>
	<key>coordinatorTempleContrast</key>
	<string>mediumTabviewOpacity</string>
	<key>cyclePerCommand</key>
	<string>iconKindAppearance</string>
	<key>normalListenerColor</key>
	<string>channelFacadeHead</string>
	<key>parallelEffectVelocity</key>
	<string>sceneAboutObserver</string>
	<key>responseNearTier</key>
	<string>scaffoldScopeSkewx</string>
	<key>textSystemValidation</key>
	<string>activeCurveAcceleration</string>
	<key>utilAtKind</key>
	<string>localizationTaskScale</string>
</dict>
</plist>
