<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gateBridgeValidation</key>
	<string>challengeKindPosition</string>
	<key>layoutEnvironmentTag</key>
	<string>interfacePerKind</string>
	<key>nibNearProxy</key>
	<string>scalePlatformFlags</string>
	<key>serviceNearScope</key>
	<string>baseThanFlyweight</string>
	<key>serviceUntilParam</key>
	<string>equalizationTempleMode</string>
	<key>techniqueAroundPhase</key>
	<string>firstMediaVelocity</string>
</dict>
</plist>
