<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderCommandPressure</key>
	<string>dynamicBaseRotation</string>
	<key>localizationMediatorTail</key>
	<string>resourceAsChain</string>
	<key>optionJobDuration</key>
	<string>deferredEventKind</string>
	<key>precisionFrameworkBottom</key>
	<string>visibleFutureStatus</string>
	<key>sinkThanVariable</key>
	<string>adaptiveDurationState</string>
	<key>stateJobVelocity</key>
	<string>storeWorkForce</string>
	<key>tensorVectorCenter</key>
	<string>dropdownbuttonVarInterval</string>
	<key>transitionStyleTheme</key>
	<string>asynchronousMusicDepth</string>
</dict>
</plist>
