<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionActionOpacity</key>
	<string>normScopeName</string>
	<key>criticalAspectratioContrast</key>
	<string>progressbarWithVar</string>
	<key>directRectDensity</key>
	<string>navigatorAtPhase</string>
	<key>labelTaskBottom</key>
	<string>tensorMenuRight</string>
	<key>persistentCurveCoord</key>
	<string>layoutAroundChain</string>
	<key>queryDespiteBuffer</key>
	<string>baseThanMethod</string>
	<key>serviceDuringPrototype</key>
	<string>usageWithWork</string>
	<key>spotShapeHead</key>
	<string>flexibleAllocatorStatus</string>
	<key>webRequestOffset</key>
	<string>globalStorageDepth</string>
</dict>
</plist>
