<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleAspectratioPosition</key>
	<string>effectDuringLevel</string>
	<key>adaptiveMatrixAppearance</key>
	<string>observerBufferResponse</string>
	<key>awaitVariableOffset</key>
	<string>sizeWorkLeft</string>
	<key>diffableStoryboardSpeed</key>
	<string>pivotalInjectionIndex</string>
	<key>effectForAdapter</key>
	<string>animationAlongProxy</string>
	<key>futureParameterOpacity</key>
	<string>flexBufferDirection</string>
	<key>futureThroughLayer</key>
	<string>providerFunctionTransparency</string>
	<key>giftUntilSystem</key>
	<string>gateContainParam</string>
	<key>resolverStrategyTop</key>
	<string>activeMethodVisible</string>
</dict>
</plist>
