<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerTypeMode</key>
	<string>compositionalTangentPosition</string>
	<key>disabledActivityRate</key>
	<string>routeUntilObserver</string>
	<key>intensityPlatformBorder</key>
	<string>projectExceptVar</string>
	<key>listenerSinceProcess</key>
	<string>scaffoldOrMethod</string>
	<key>prismaticCubitTop</key>
	<string>routeChainTransparency</string>
	<key>sophisticatedConvolutionMargin</key>
	<string>widgetVariableSkewy</string>
</dict>
</plist>
