<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentBatchIndex</key>
	<string>similarTaskCenter</string>
	<key>contractionThanValue</key>
	<string>usedCatalystPadding</string>
	<key>listviewAroundContext</key>
	<string>timerObserverScale</string>
	<key>metadataPlatformSkewx</key>
	<string>consumerDespiteLayer</string>
	<key>notificationLayerSaturation</key>
	<string>diffableMusicType</string>
	<key>playbackAndParameter</key>
	<string>plateAtType</string>
	<key>typicalChapterSkewy</key>
	<string>mediocreFeatureEdge</string>
	<key>unaryWithTier</key>
	<string>musicTempleSaturation</string>
</dict>
</plist>
