<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorFacadeInset</key>
	<string>dependencyTypeTop</string>
	<key>delegateTempleInterval</key>
	<string>sliderThroughProxy</string>
	<key>directlyPresenterScale</key>
	<string>normalIntegerTint</string>
	<key>nativeScaffoldEdge</key>
	<string>elasticTextureHue</string>
	<key>priorLoopHead</key>
	<string>animationWithFramework</string>
	<key>significantBehaviorValidation</key>
	<string>buttonPlatformMode</string>
</dict>
</plist>
