<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileStateOffset</key>
	<string>mapCompositeSize</string>
	<key>capsuleWithoutLevel</key>
	<string>granularCompositionType</string>
	<key>cubitAtNumber</key>
	<string>vectorParameterVisible</string>
	<key>functionalConfigurationColor</key>
	<string>tabviewFormBehavior</string>
	<key>rapidMultiplicationSkewx</key>
	<string>constErrorCoord</string>
	<key>stepActionDistance</key>
	<string>finalCollectionLeft</string>
	<key>zoneStyleDensity</key>
	<string>permanentControllerSize</string>
</dict>
</plist>
