<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderOutsideTier</key>
	<string>segueStyleDuration</string>
	<key>capacitiesStyleOffset</key>
	<string>slashAsStructure</string>
	<key>configurationPlatformScale</key>
	<string>providerCommandAppearance</string>
	<key>delegateVarState</key>
	<string>futureOfAction</string>
	<key>draggableKernelIndex</key>
	<string>textForProxy</string>
	<key>inheritedRequestAppearance</key>
	<string>advancedCurveValidation</string>
	<key>instructionFlyweightAppearance</key>
	<string>arithmeticObserverStatus</string>
	<key>mainResultState</key>
	<string>rowOutsideCommand</string>
	<key>otherViewAcceleration</key>
	<string>workflowParamHead</string>
	<key>respectiveRowOrigin</key>
	<string>aspectKindOrientation</string>
</dict>
</plist>
