<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocActivityForce</key>
	<string>sliderInParam</string>
	<key>completerDespiteTask</key>
	<string>roleAgainstVariable</string>
	<key>ephemeralChartSkewx</key>
	<string>catalystParamCount</string>
	<key>interfaceWorkStyle</key>
	<string>desktopButtonTail</string>
</dict>
</plist>
