<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaKindAcceleration</key>
	<string>intensityAgainstTier</string>
	<key>compositionalMemberRate</key>
	<string>cycleKindOrigin</string>
	<key>interactorNumberForce</key>
	<string>gateUntilTask</string>
	<key>layoutAlongLevel</key>
	<string>sessionStageDepth</string>
	<key>metadataFacadeSpacing</key>
	<string>sortedModelVisibility</string>
	<key>primaryTextTransparency</key>
	<string>overlayAroundType</string>
	<key>rapidResultSpacing</key>
	<string>originalOffsetVelocity</string>
	<key>skinLikeStyle</key>
	<string>accessibleLabelSpacing</string>
	<key>swiftMediatorPosition</key>
	<string>listenerUntilCommand</string>
	<key>usecaseSystemTint</key>
	<string>eventContainFunction</string>
</dict>
</plist>
