<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedCellPadding</key>
	<string>responsiveViewTail</string>
	<key>criticalImageInteraction</key>
	<string>disparateBufferForce</string>
	<key>independentColumnDirection</key>
	<string>fusedTechniquePressure</string>
	<key>managerAmongObserver</key>
	<string>expandedOperationMomentum</string>
	<key>rapidCosineType</key>
	<string>viewViaInterpreter</string>
	<key>resolverVariableBorder</key>
	<string>stateThanDecorator</string>
	<key>resourcePrototypeOpacity</key>
	<string>storyboardInBuffer</string>
	<key>tickerStructureTheme</key>
	<string>robustCursorAlignment</string>
	<key>viewAdapterStyle</key>
	<string>providerViaFunction</string>
</dict>
</plist>
