<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisThroughInterpreter</key>
	<string>asynchronousExceptionSkewx</string>
	<key>dedicatedModulusScale</key>
	<string>finalSegueResponse</string>
	<key>frameFunctionType</key>
	<string>multiplicationInterpreterKind</string>
	<key>inheritedCellOpacity</key>
	<string>positionedForValue</string>
	<key>kernelVarVelocity</key>
	<string>behaviorParameterHead</string>
	<key>lastMovementEdge</key>
	<string>multiChannelVisibility</string>
	<key>progressbarCommandAlignment</key>
	<string>responseAlongTier</string>
	<key>sinkAmongBridge</key>
	<string>querySinceFramework</string>
</dict>
</plist>
