<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationThanTemple</key>
	<string>gateCompositeHue</string>
	<key>errorTempleBound</key>
	<string>blocViaTemple</string>
	<key>heroThroughTask</key>
	<string>secondPromiseDepth</string>
	<key>mediocreMetadataOpacity</key>
	<string>alignmentBeyondPrototype</string>
	<key>usecaseLayerOffset</key>
	<string>sliderDecoratorTint</string>
</dict>
</plist>
