<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisVariableTension</key>
	<string>customStoryboardOffset</string>
	<key>commonGateLeft</key>
	<string>borderSystemForce</string>
	<key>graphCompositeOffset</key>
	<string>entityFlyweightPadding</string>
	<key>relationalSpriteCenter</key>
	<string>granularCoordinatorState</string>
	<key>routerAwayDecorator</key>
	<string>heroInterpreterAppearance</string>
	<key>singleTimerSkewy</key>
	<string>serviceProxyCenter</string>
</dict>
</plist>
