<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationShapeRotation</key>
	<string>intuitiveGestureFeedback</string>
	<key>localizationSinceMethod</key>
	<string>threadStyleInset</string>
	<key>tweenSystemIndex</key>
	<string>descriptionSinceWork</string>
</dict>
</plist>
