<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateGramBottom</key>
	<string>advancedReferenceSaturation</string>
	<key>dimensionOperationTop</key>
	<string>nibStateBorder</string>
	<key>hashObserverBound</key>
	<string>overlayActionSkewy</string>
	<key>liteSymbolAppearance</key>
	<string>agilePromiseStatus</string>
	<key>mobileUntilJob</key>
	<string>explicitHashTop</string>
	<key>movementFormOrigin</key>
	<string>menuByLevel</string>
	<key>nativeAnimationBehavior</key>
	<string>synchronousExceptionOrientation</string>
	<key>priorityContainValue</key>
	<string>signInActivity</string>
</dict>
</plist>
