<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableTopicBottom</key>
	<string>referenceAboutWork</string>
	<key>coordinatorInsidePhase</key>
	<string>nativePointValidation</string>
	<key>euclideanInstructionOffset</key>
	<string>dependencyByProxy</string>
	<key>interactorStyleHead</key>
	<string>normVersusContext</string>
	<key>iterativeWidgetCenter</key>
	<string>eagerBuilderSpacing</string>
	<key>projectionLayerInset</key>
	<string>uniformListenerMode</string>
	<key>requestWithState</key>
	<string>permanentAspectStyle</string>
	<key>sampleByProcess</key>
	<string>listviewSystemShade</string>
	<key>webAnchorHead</key>
	<string>labelInsideAction</string>
</dict>
</plist>
