<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandAgainstFunction</key>
	<string>coordinatorMementoPressure</string>
	<key>constraintExceptWork</key>
	<string>callbackCycleContrast</string>
	<key>reducerActivityType</key>
	<string>radiusAmongBuffer</string>
	<key>semanticLossStyle</key>
	<string>cardOfDecorator</string>
	<key>transformerDuringTask</key>
	<string>requiredBitrateEdge</string>
</dict>
</plist>
