<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateVisitorPosition</key>
	<string>rowThanMethod</string>
	<key>checkboxPhaseName</key>
	<string>autoMovementVisible</string>
	<key>discardedProjectionCount</key>
	<string>inactivePreviewMargin</string>
	<key>managerVarVisibility</key>
	<string>observerUntilStage</string>
	<key>prismaticGradientTail</key>
	<string>disabledProviderHead</string>
	<key>queryPatternIndex</key>
	<string>controllerUntilAction</string>
	<key>radioOrInterpreter</key>
	<string>playbackPerStyle</string>
</dict>
</plist>
