<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitThroughPlatform</key>
	<string>typicalReferenceRight</string>
	<key>delegateOperationAlignment</key>
	<string>routeKindSize</string>
	<key>singletonStateTension</key>
	<string>lastModulusAcceleration</string>
	<key>statefulForStage</key>
	<string>utilPlatformOrigin</string>
	<key>tensorViewCount</key>
	<string>storyboardOutsideStyle</string>
</dict>
</plist>
