<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedBufferPressure</key>
	<string>gestureFromFunction</string>
	<key>liteGridviewSpeed</key>
	<string>accessibleButtonDepth</string>
	<key>missionTierBottom</key>
	<string>cupertinoDimensionDirection</string>
	<key>movementOutsideProcess</key>
	<string>effectBufferShade</string>
	<key>routeCommandTheme</key>
	<string>routeTempleInteraction</string>
	<key>viewAtBuffer</key>
	<string>transformerStructureVelocity</string>
	<key>viewDespiteChain</key>
	<string>timerBeyondActivity</string>
	<key>visibleFeatureInteraction</key>
	<string>routeVarLeft</string>
</dict>
</plist>
