<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionSingletonShape</key>
	<string>positionTierPadding</string>
	<key>exponentNumberDuration</key>
	<string>containerExceptOperation</string>
	<key>menuTempleHue</key>
	<string>threadAtFlyweight</string>
	<key>missionBeyondTask</key>
	<string>imageSinceCycle</string>
	<key>spriteFromFlyweight</key>
	<string>subpixelForVisitor</string>
	<key>textThroughWork</key>
	<string>menuFlyweightRotation</string>
	<key>unaryActionPressure</key>
	<string>masterWorkBottom</string>
	<key>usecaseBeyondMediator</key>
	<string>greatNavigatorType</string>
</dict>
</plist>
