<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderModeRotation</key>
	<string>symmetricSlashBehavior</string>
	<key>featureContainWork</key>
	<string>touchThroughTask</string>
	<key>loopEnvironmentKind</key>
	<string>delicateRadiusMode</string>
	<key>multiAllocatorTheme</key>
	<string>typicalCompleterFrequency</string>
	<key>primaryKernelState</key>
	<string>statefulGrainPosition</string>
	<key>sensorAmongStyle</key>
	<string>curveBeyondFunction</string>
	<key>significantDocumentPosition</key>
	<string>lossAtKind</string>
	<key>uniformStatelessHead</key>
	<string>serviceAmongChain</string>
	<key>widgetDecoratorPosition</key>
	<string>interpolationPerStructure</string>
</dict>
</plist>
