<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystAwayInterpreter</key>
	<string>spriteContextMargin</string>
	<key>gesturedetectorIncludePlatform</key>
	<string>navigatorChainHead</string>
	<key>inactiveCertificateInteraction</key>
	<string>sliderBeyondState</string>
	<key>progressbarParamAcceleration</key>
	<string>reusableStreamTop</string>
	<key>scaffoldOfPlatform</key>
	<string>rapidScaffoldHue</string>
	<key>sinkNumberOrientation</key>
	<string>builderSystemStatus</string>
	<key>sizeInMediator</key>
	<string>animationByPhase</string>
</dict>
</plist>
