<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gridviewDuringVisitor</key>
	<string>titleActivityScale</string>
	<key>normalCompositionOffset</key>
	<string>containerVarCount</string>
	<key>profileSinceObserver</key>
	<string>masterPatternSkewy</string>
	<key>protectedClipperInset</key>
	<string>compositionNumberFlags</string>
</dict>
</plist>
