<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedDescriptionBound</key>
	<string>publicBuilderTheme</string>
	<key>awaitBeyondBuffer</key>
	<string>currentButtonSkewy</string>
	<key>displayableQueryContrast</key>
	<string>flexCompositeTop</string>
	<key>eventExceptNumber</key>
	<string>sophisticatedBuilderStyle</string>
	<key>framePerFlyweight</key>
	<string>delicateResourceTransparency</string>
	<key>logarithmInsideFlyweight</key>
	<string>baseVarDirection</string>
	<key>mobileGiftPadding</key>
	<string>mainChannelDirection</string>
	<key>nativeTabviewSpeed</key>
	<string>previewFormKind</string>
	<key>normalFeaturePadding</key>
	<string>nodeUntilVisitor</string>
	<key>resultOfForm</key>
	<string>managerTaskTheme</string>
</dict>
</plist>
