<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleNavigationOrientation</key>
	<string>streamOutsideAdapter</string>
	<key>asynchronousLogTail</key>
	<string>injectionByAdapter</string>
	<key>checkboxKindTail</key>
	<string>animatedcontainerDuringContext</string>
	<key>crudeCompleterEdge</key>
	<string>diffableCapacitiesShade</string>
	<key>delegateStateLeft</key>
	<string>spriteFormShape</string>
	<key>disabledTextAlignment</key>
	<string>originalTransitionInterval</string>
	<key>factoryBesideVariable</key>
	<string>similarSliderContrast</string>
	<key>fusedBorderBorder</key>
	<string>ignoredTransformerPadding</string>
	<key>requiredGradientState</key>
	<string>asyncJobBrightness</string>
	<key>similarPopupHead</key>
	<string>promisePatternLeft</string>
</dict>
</plist>
