<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorAlongPlatform</key>
	<string>graphTierTop</string>
	<key>delegateAwayWork</key>
	<string>synchronousTweenDuration</string>
	<key>delegateThanMemento</key>
	<string>methodParamRate</string>
	<key>flexibleDialogsKind</key>
	<string>publicResultBrightness</string>
	<key>imperativeInterfaceFormat</key>
	<string>cosineWorkSpeed</string>
	<key>repositoryCompositeSize</key>
	<string>cursorVisitorMargin</string>
	<key>respectiveQueryOrientation</key>
	<string>buttonVarTop</string>
	<key>sensorActivityDirection</key>
	<string>threadIncludeActivity</string>
</dict>
</plist>
