<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisPatternOrientation</key>
	<string>positionInVar</string>
	<key>buttonLikeKind</key>
	<string>precisionAwayPlatform</string>
	<key>labelStateOrientation</key>
	<string>multiBlocSize</string>
	<key>materialPhaseScale</key>
	<string>delegateFromPrototype</string>
	<key>mobileCosineInteraction</key>
	<string>graphOperationLeft</string>
	<key>oldNavigatorTail</key>
	<string>behaviorStrategyIndex</string>
	<key>synchronousHistogramOffset</key>
	<string>lastCheckboxMode</string>
</dict>
</plist>
