<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaStageLeft</key>
	<string>gemLikeChain</string>
	<key>directlyCollectionHead</key>
	<string>mutableIntensityInteraction</string>
	<key>displayableTextureOffset</key>
	<string>reactiveFragmentForce</string>
	<key>drawerShapeInset</key>
	<string>cycleByLevel</string>
	<key>geometricTextCenter</key>
	<string>scaffoldAgainstForm</string>
	<key>localizationThroughPrototype</key>
	<string>reducerFromSystem</string>
</dict>
</plist>
