<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnSinceType</key>
	<string>customizedResourceInset</string>
	<key>modelAgainstVar</key>
	<string>compositionalLogarithmMargin</string>
	<key>usageThanBridge</key>
	<string>riverpodOperationStatus</string>
</dict>
</plist>
