<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedCapsuleBrightness</key>
	<string>temporaryRoleTop</string>
	<key>cosineBesideMediator</key>
	<string>easyEventInterval</string>
	<key>heapLikeWork</key>
	<string>capsuleFacadeAcceleration</string>
	<key>layoutBridgeHead</key>
	<string>webRequestShape</string>
	<key>memberSinceObserver</key>
	<string>explicitMaterialTail</string>
	<key>presenterVisitorAcceleration</key>
	<string>hardMetadataLocation</string>
	<key>queryFromPlatform</key>
	<string>constraintOrInterpreter</string>
</dict>
</plist>
