<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalIsolateAlignment</key>
	<string>agilePreviewDistance</string>
	<key>custompaintAlongSystem</key>
	<string>gestureStructureCenter</string>
	<key>inactiveConvolutionOrigin</key>
	<string>criticalAspectPadding</string>
	<key>queryAmongForm</key>
	<string>animatedcontainerProxyHead</string>
	<key>rectFromVariable</key>
	<string>interactiveRichtextPressure</string>
	<key>routeShapeBorder</key>
	<string>diffableTweenDensity</string>
	<key>sizeActivityVisibility</key>
	<string>mobxAdapterBound</string>
</dict>
</plist>
