<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerObserverShade</key>
	<string>beginnerActionHue</string>
	<key>displayableExpandedColor</key>
	<string>cycleDuringKind</string>
	<key>granularNavigatorTag</key>
	<string>alertWorkDuration</string>
	<key>instructionOrEnvironment</key>
	<string>multiStoryboardBorder</string>
	<key>intermediateGraphInterval</key>
	<string>plateNearStrategy</string>
	<key>layoutActivityState</key>
	<string>uniformBlocSkewx</string>
	<key>mediocreNormOffset</key>
	<string>durationFromAction</string>
	<key>sinkVarHead</key>
	<string>newestTransitionVisible</string>
	<key>tensorLossKind</key>
	<string>materialAtInterpreter</string>
</dict>
</plist>
