<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyFromMediator</key>
	<string>disabledNavigationResponse</string>
	<key>labelThanPhase</key>
	<string>alignmentNumberMargin</string>
	<key>semanticsStrategyDuration</key>
	<string>popupParamOpacity</string>
	<key>subsequentCompositionDirection</key>
	<string>compositionalManagerVisibility</string>
	<key>textAboutForm</key>
	<string>monsterSingletonMomentum</string>
</dict>
</plist>
