<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lostCoordinatorTension</key>
	<string>queryContextOrigin</string>
	<key>observerProcessVisible</key>
	<string>retainedFragmentHead</string>
	<key>publicMarginOrientation</key>
	<string>significantPositionedAcceleration</string>
	<key>sessionActivityDistance</key>
	<string>singlePresenterIndex</string>
</dict>
</plist>
