<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAtTemple</key>
	<string>allocatorBeyondState</string>
	<key>batchLikePrototype</key>
	<string>gateIncludeState</string>
	<key>draggableSwitchTag</key>
	<string>constraintOfVariable</string>
	<key>expandedScopeRate</key>
	<string>toolMediatorEdge</string>
	<key>mediumBaselinePosition</key>
	<string>invisibleLoopTop</string>
	<key>operationLikeMethod</key>
	<string>channelInsideBridge</string>
	<key>precisionFrameworkMomentum</key>
	<string>accordionMemberSize</string>
	<key>previewTierAppearance</key>
	<string>containerDuringFramework</string>
</dict>
</plist>
