<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveOverlayKind</key>
	<string>newestManagerInteraction</string>
	<key>alignmentStructurePadding</key>
	<string>notifierStateHue</string>
	<key>clipperVersusProcess</key>
	<string>factoryDecoratorColor</string>
	<key>descriptionStrategyAppearance</key>
	<string>overlayCommandAlignment</string>
	<key>navigationStageName</key>
	<string>cartesianTimerOpacity</string>
	<key>routeJobPosition</key>
	<string>behaviorInProcess</string>
	<key>standaloneAnimatedcontainerColor</key>
	<string>spotAgainstAdapter</string>
	<key>tabviewAwayOperation</key>
	<string>singleDelegateType</string>
	<key>taskContainLevel</key>
	<string>smartManagerCenter</string>
</dict>
</plist>
