<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderNumberBound</key>
	<string>giftCycleTint</string>
	<key>featureMethodTag</key>
	<string>monsterForScope</string>
	<key>groupContextFrequency</key>
	<string>concurrentSpecifierState</string>
	<key>overlayWithoutPrototype</key>
	<string>viewAsOperation</string>
	<key>stateStateDistance</key>
	<string>directlyTangentCenter</string>
	<key>zoneStrategyInterval</key>
	<string>animationCompositeDelay</string>
</dict>
</plist>
