<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseAtFunction</key>
	<string>segueTypeMomentum</string>
	<key>positionedStyleEdge</key>
	<string>diversifiedIndicatorKind</string>
	<key>routeLevelType</key>
	<string>delegateContextScale</string>
</dict>
</plist>
