<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelMethodTint</key>
	<string>originalBitrateVelocity</string>
	<key>desktopAnchorTag</key>
	<string>boxTemplePressure</string>
	<key>gridOrAdapter</key>
	<string>sliderPrototypeHue</string>
	<key>ignoredSineStatus</key>
	<string>textureAwayKind</string>
	<key>inheritedLossPadding</key>
	<string>rowParameterSpacing</string>
	<key>serviceParameterRotation</key>
	<string>statefulPaddingHue</string>
	<key>smartTechniqueFrequency</key>
	<string>statelessExceptDecorator</string>
</dict>
</plist>
