<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletModeTransparency</key>
	<string>bulletSingletonFrequency</string>
	<key>checklistSinceJob</key>
	<string>synchronousTextStyle</string>
	<key>columnStyleInset</key>
	<string>cosineTypeBottom</string>
	<key>containerTierMode</key>
	<string>eagerApertureFeedback</string>
	<key>elasticDocumentTension</key>
	<string>projectionTaskSpacing</string>
	<key>queryDecoratorInset</key>
	<string>sineForTemple</string>
	<key>sensorAtProxy</key>
	<string>tappableZoneMode</string>
	<key>statelessSineOffset</key>
	<string>resourcePlatformScale</string>
	<key>tickerInsideStyle</key>
	<string>unaryShapeRate</string>
</dict>
</plist>
