<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesActivityKind</key>
	<string>interpolationProcessShape</string>
	<key>heroInterpreterCoord</key>
	<string>baseBufferState</string>
	<key>metadataInsideFramework</key>
	<string>sequentialRouterDelay</string>
	<key>presenterAtShape</key>
	<string>textureVariableContrast</string>
	<key>reusableEqualizationTension</key>
	<string>ephemeralActionFlags</string>
	<key>screenScopeStyle</key>
	<string>lossUntilFramework</string>
	<key>visibleAppbarHue</key>
	<string>coordinatorProxyInset</string>
</dict>
</plist>
