<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAtVisitor</key>
	<string>geometricTabviewKind</string>
	<key>featureCompositeName</key>
	<string>queuePrototypeInteraction</string>
	<key>layoutProcessSize</key>
	<string>layoutLevelRight</string>
	<key>metadataWithoutCycle</key>
	<string>materialLayerState</string>
	<key>persistentInteractorMargin</key>
	<string>delegateDuringForm</string>
	<key>progressbarMediatorSkewx</key>
	<string>tweenDecoratorHue</string>
	<key>reducerUntilChain</key>
	<string>captionInsidePattern</string>
	<key>routerVariableCenter</key>
	<string>immediateWidgetVelocity</string>
</dict>
</plist>
