<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioAlongCommand</key>
	<string>opaqueDescriptorMomentum</string>
	<key>declarativeNibHue</key>
	<string>localizationAlongProxy</string>
	<key>navigatorBeyondCycle</key>
	<string>relationalBufferRight</string>
	<key>protectedSegueName</key>
	<string>activatedSwiftName</string>
</dict>
</plist>
