<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonVarMode</key>
	<string>grainByLayer</string>
	<key>crucialCertificateSpacing</key>
	<string>oldSizeStatus</string>
	<key>durationFromStrategy</key>
	<string>commonProviderAlignment</string>
	<key>futureKindType</key>
	<string>navigationDuringScope</string>
	<key>handlerInsideFlyweight</key>
	<string>statelessLayerSize</string>
	<key>imageNearDecorator</key>
	<string>logarithmStructureDelay</string>
	<key>layerOrValue</key>
	<string>lazyDialogsTag</string>
	<key>standaloneCharacterName</key>
	<string>transformerUntilCycle</string>
	<key>symbolAtMethod</key>
	<string>animatedChartState</string>
</dict>
</plist>
