<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityInterpreterVelocity</key>
	<string>beginnerResourceScale</string>
	<key>animationEnvironmentDistance</key>
	<string>modulusEnvironmentSpacing</string>
	<key>animationProcessShade</key>
	<string>subscriptionAdapterRotation</string>
	<key>containerCommandBrightness</key>
	<string>signatureStageState</string>
	<key>criticalListenerLocation</key>
	<string>capacitiesFacadeInset</string>
	<key>crudeSessionPosition</key>
	<string>presenterCycleMomentum</string>
	<key>difficultCubitFormat</key>
	<string>basicMasterLocation</string>
	<key>protocolShapeMode</key>
	<string>clipperDecoratorShape</string>
	<key>subsequentActivityCoord</key>
	<string>tensorRouteDistance</string>
</dict>
</plist>
