<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerCycleBottom</key>
	<string>positionFlyweightBehavior</string>
	<key>displayableSpotPosition</key>
	<string>difficultSegueDuration</string>
	<key>futureAlongComposite</key>
	<string>iconTaskHead</string>
	<key>keyParticleCoord</key>
	<string>flexibleManagerSkewx</string>
	<key>normalChallengeTop</key>
	<string>oldChannelsSkewx</string>
	<key>particleEnvironmentBottom</key>
	<string>draggableInjectionTop</string>
	<key>stateFromForm</key>
	<string>advancedCurveTension</string>
</dict>
</plist>
