<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerForScope</key>
	<string>agileTextPadding</string>
	<key>deferredDimensionSize</key>
	<string>projectionAboutParameter</string>
	<key>futureBeyondComposite</key>
	<string>iconPerMediator</string>
	<key>handlerTypeSkewx</key>
	<string>retainedMarginSize</string>
	<key>navigatorShapeBehavior</key>
	<string>smallAxisTail</string>
	<key>notificationCycleCount</key>
	<string>errorChainTail</string>
	<key>reusableWidgetOpacity</key>
	<string>musicActionLeft</string>
	<key>sliderLevelTension</key>
	<string>managerNearStrategy</string>
	<key>storeNearFlyweight</key>
	<string>localNotifierCount</string>
</dict>
</plist>
