<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterStateShade</key>
	<string>batchThanProxy</string>
	<key>checkboxOperationCount</key>
	<string>interfaceContainFlyweight</string>
	<key>giftDuringObserver</key>
	<string>sliderInterpreterDirection</string>
	<key>immutableRiverpodVisibility</key>
	<string>alphaOfEnvironment</string>
	<key>inactiveEffectFormat</key>
	<string>buttonWithoutShape</string>
	<key>lastGestureColor</key>
	<string>aspectratioParamBottom</string>
	<key>liteCanvasShade</key>
	<string>webListenerAppearance</string>
	<key>sizeAroundDecorator</key>
	<string>indicatorVersusVariable</string>
	<key>skirtBesideTemple</key>
	<string>cardPerBridge</string>
</dict>
</plist>
