<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystProxySpeed</key>
	<string>singleProfileVisibility</string>
	<key>keyEqualizationTransparency</key>
	<string>usedGemResponse</string>
	<key>localizationValueKind</key>
	<string>durationMediatorAcceleration</string>
	<key>memberCycleDistance</key>
	<string>textureDespiteTask</string>
	<key>operationNearWork</key>
	<string>immutableCatalystOpacity</string>
	<key>providerScopeBehavior</key>
	<string>imageCycleLeft</string>
	<key>rectSystemIndex</key>
	<string>uniformActionTail</string>
	<key>sceneAboutParameter</key>
	<string>taskTempleCenter</string>
	<key>tweenCycleScale</key>
	<string>sliderAwayTier</string>
	<key>uniqueChapterVisibility</key>
	<string>metadataObserverOffset</string>
</dict>
</plist>
