<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxLikeEnvironment</key>
	<string>storageTierShade</string>
	<key>characterVersusWork</key>
	<string>consultativePreviewEdge</string>
	<key>cosineBesideDecorator</key>
	<string>textfieldStrategyBehavior</string>
	<key>errorInsideVariable</key>
	<string>textStateAcceleration</string>
	<key>imageNearLayer</key>
	<string>specifySwitchForce</string>
	<key>pageviewNearFunction</key>
	<string>sequentialCardSpeed</string>
	<key>playbackPerPattern</key>
	<string>rectFromFramework</string>
	<key>spotModeScale</key>
	<string>mediocreTernaryEdge</string>
	<key>zoneModeSpeed</key>
	<string>errorProcessFlags</string>
</dict>
</plist>
