<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationOperationCenter</key>
	<string>publicObserverForce</string>
	<key>repositoryCommandShade</key>
	<string>utilTaskDistance</string>
	<key>requiredCatalystSpacing</key>
	<string>mediocreContainerPosition</string>
	<key>streamAgainstActivity</key>
	<string>gradientByOperation</string>
</dict>
</plist>
