<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackViaInterpreter</key>
	<string>mobileQueryBorder</string>
	<key>discardedHandlerBrightness</key>
	<string>sinkLayerMargin</string>
	<key>displayableMusicSpacing</key>
	<string>groupFlyweightRate</string>
	<key>immediateShaderPressure</key>
	<string>dimensionParamRight</string>
	<key>sinkUntilProxy</key>
	<string>blocDuringOperation</string>
	<key>sliderValuePosition</key>
	<string>scaleOperationResponse</string>
	<key>subtleTableEdge</key>
	<string>factoryPrototypeSpacing</string>
</dict>
</plist>
