<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioLikeNumber</key>
	<string>sizeCycleHead</string>
	<key>mutableThreadVisible</key>
	<string>grayscaleFormSkewx</string>
	<key>resourceNearMode</key>
	<string>coordinatorAmongLayer</string>
	<key>skinAlongCommand</key>
	<string>entityPerMethod</string>
	<key>transformerExceptNumber</key>
	<string>profileCompositeCoord</string>
</dict>
</plist>
