<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonUntilKind</key>
	<string>mainSceneDensity</string>
	<key>cubitVisitorForce</key>
	<string>storageAboutLayer</string>
	<key>cycleContainCycle</key>
	<string>eagerLayoutTop</string>
	<key>imperativeErrorAlignment</key>
	<string>customizedSensorOpacity</string>
	<key>independentQuerySaturation</key>
	<string>baselineAmongPhase</string>
	<key>mediocreEffectContrast</key>
	<string>disabledResultMargin</string>
	<key>mobileDespiteStage</key>
	<string>gramFormPressure</string>
	<key>repositoryProcessDepth</key>
	<string>taskVarEdge</string>
	<key>resizableIconInset</key>
	<string>cosineAlongNumber</string>
	<key>topicEnvironmentInteraction</key>
	<string>priorDependencyRate</string>
</dict>
</plist>
