<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterContextForce</key>
	<string>semanticDescriptorMomentum</string>
	<key>controllerMementoColor</key>
	<string>loopSinceProxy</string>
	<key>exceptionBridgeVisibility</key>
	<string>symmetricRepositoryKind</string>
	<key>ignoredMediaLocation</key>
	<string>tensorRowDistance</string>
	<key>positionActionName</key>
	<string>cupertinoGroupOrientation</string>
	<key>reductionObserverSkewx</key>
	<string>finalAlphaInset</string>
	<key>resultAroundLayer</key>
	<string>stateDecoratorCount</string>
	<key>substantialUsagePadding</key>
	<string>themeIncludeFlyweight</string>
	<key>tableWorkType</key>
	<string>columnIncludeEnvironment</string>
	<key>viewDecoratorStyle</key>
	<string>delegateStageCount</string>
</dict>
</plist>
