<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystOfEnvironment</key>
	<string>retainedPlaybackOpacity</string>
	<key>declarativeFragmentState</key>
	<string>optionFormCenter</string>
	<key>imageBesidePattern</key>
	<string>factoryVariableDuration</string>
	<key>independentPriorityPressure</key>
	<string>backwardResultTransparency</string>
	<key>mapExceptVariable</key>
	<string>currentVectorBrightness</string>
	<key>materialProxyTint</key>
	<string>animatedSliderSpeed</string>
	<key>mobileDecorationSize</key>
	<string>activityNearDecorator</string>
</dict>
</plist>
