<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveResourceInterval</key>
	<string>specifierAtProxy</string>
	<key>enabledProviderEdge</key>
	<string>activeAlignmentPressure</string>
	<key>lossFromMediator</key>
	<string>mobileWithoutValue</string>
	<key>nodeDespiteVar</key>
	<string>lossWithoutStrategy</string>
	<key>signatureOrMediator</key>
	<string>otherMarginName</string>
	<key>techniqueStylePadding</key>
	<string>observerInsideScope</string>
</dict>
</plist>
