<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianScrollBound</key>
	<string>subtleReductionMomentum</string>
	<key>certificateTaskBrightness</key>
	<string>alertDespiteStage</string>
	<key>imperativeAnimationBrightness</key>
	<string>completerAsVariable</string>
	<key>methodInStage</key>
	<string>sceneTaskTension</string>
	<key>mutableQueueLocation</key>
	<string>indicatorNearForm</string>
	<key>presenterCommandValidation</key>
	<string>unactivatedListenerScale</string>
	<key>singletonLayerShape</key>
	<string>animatedcontainerKindAcceleration</string>
	<key>topicWorkValidation</key>
	<string>topicTierPressure</string>
	<key>transitionPerTask</key>
	<string>substantialSinkFormat</string>
	<key>viewBufferOrigin</key>
	<string>statelessLayerForce</string>
</dict>
</plist>
