<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileRowBorder</key>
	<string>routeSinceTemple</string>
	<key>apertureNumberVisible</key>
	<string>graphActionSpeed</string>
	<key>cellAsProxy</key>
	<string>rapidLayerTheme</string>
	<key>directlyChecklistSpacing</key>
	<string>rowAdapterName</string>
	<key>interactorInterpreterDepth</key>
	<string>iterativeAspectAlignment</string>
	<key>matrixContextSpeed</key>
	<string>dimensionViaParam</string>
	<key>metadataBufferKind</key>
	<string>viewAndPattern</string>
	<key>priorityOfChain</key>
	<string>semanticBoxshadowFrequency</string>
	<key>skirtViaStructure</key>
	<string>nodeAboutAdapter</string>
</dict>
</plist>
