<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryContextBorder</key>
	<string>sliderLevelContrast</string>
	<key>brushTempleLocation</key>
	<string>resilientNotificationStyle</string>
	<key>bufferAndType</key>
	<string>temporaryProjectType</string>
	<key>managerIncludeScope</key>
	<string>statelessExponentType</string>
	<key>mediumDecorationHead</key>
	<string>gradientAsMode</string>
	<key>nodeFrameworkFeedback</key>
	<string>asyncInterpreterCount</string>
	<key>numericalRequestKind</key>
	<string>masterWithoutVariable</string>
	<key>radiusPrototypeShape</key>
	<string>gridviewPhaseShade</string>
	<key>textfieldByObserver</key>
	<string>aspectActivityStyle</string>
</dict>
</plist>
