<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellNumberVisible</key>
	<string>handlerWithoutLayer</string>
	<key>chapterByScope</key>
	<string>techniqueWithoutMethod</string>
	<key>dedicatedInjectionCount</key>
	<string>adaptiveIconPosition</string>
	<key>intuitiveServiceLocation</key>
	<string>cosineAboutAction</string>
	<key>plateWorkOffset</key>
	<string>desktopBitrateOrientation</string>
	<key>significantEventBrightness</key>
	<string>interactorEnvironmentTint</string>
	<key>tensorOverlayInset</key>
	<string>cartesianGesturedetectorSpacing</string>
	<key>zoneVisitorAcceleration</key>
	<string>liteResultPadding</string>
</dict>
</plist>
