<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptivePageviewMode</key>
	<string>matrixVisitorVelocity</string>
	<key>gramThanShape</key>
	<string>asyncExceptPrototype</string>
	<key>heapVersusLevel</key>
	<string>movementTempleEdge</string>
	<key>providerAsProcess</key>
	<string>temporaryCanvasSkewy</string>
</dict>
</plist>
