<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasActionTint</key>
	<string>sinkObserverTransparency</string>
	<key>consultativeLabelCenter</key>
	<string>mobileNotificationHead</string>
	<key>localOffsetKind</key>
	<string>drawerCompositeStatus</string>
	<key>mobileChannelsHue</key>
	<string>callbackForVisitor</string>
	<key>observerValueLocation</key>
	<string>projectionInsideChain</string>
	<key>relationalBuilderVisible</key>
	<string>custompaintStageRight</string>
	<key>themeProxyType</key>
	<string>enabledAnimatedcontainerBorder</string>
</dict>
</plist>
