<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesLayerSize</key>
	<string>disparateGridBottom</string>
	<key>displayableGestureHead</key>
	<string>chartMethodType</string>
	<key>immutableAspectMomentum</key>
	<string>permissiveBorderBound</string>
	<key>inkwellAndFacade</key>
	<string>asyncThroughComposite</string>
	<key>integerForMediator</key>
	<string>lazyAxisDirection</string>
	<key>sliderOrLevel</key>
	<string>densePopupCoord</string>
	<key>subtleFragmentCenter</key>
	<string>contractionOutsideMediator</string>
</dict>
</plist>
