<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferPatternScale</key>
	<string>commonScalePadding</string>
	<key>navigatorPlatformRotation</key>
	<string>nativeHashTint</string>
	<key>sinkDecoratorState</key>
	<string>taskInterpreterBrightness</string>
	<key>tabbarAgainstObserver</key>
	<string>durationVersusAdapter</string>
</dict>
</plist>
