<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expandedPrototypeSpacing</key>
	<string>mobileAwaitAlignment</string>
	<key>labelWithoutSystem</key>
	<string>asynchronousTernaryFlags</string>
	<key>originalStoreTail</key>
	<string>segueFormCount</string>
	<key>prevSubscriptionTint</key>
	<string>presenterProxyDensity</string>
	<key>segueLayerSpeed</key>
	<string>scaffoldAmongStructure</string>
	<key>singleSignSkewy</key>
	<string>descriptorStateState</string>
	<key>smartModulusBound</key>
	<string>accessoryFromCommand</string>
</dict>
</plist>
