<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertAlongInterpreter</key>
	<string>liteDrawerDistance</string>
	<key>cubeAboutTier</key>
	<string>commonThemeState</string>
	<key>curveWithoutCycle</key>
	<string>stateFunctionScale</string>
	<key>durationAdapterLocation</key>
	<string>dynamicMenuDirection</string>
	<key>effectAwayCycle</key>
	<string>equalizationOutsideCommand</string>
	<key>errorModeOpacity</key>
	<string>mapJobBorder</string>
	<key>iconThanBridge</key>
	<string>independentChannelAcceleration</string>
	<key>observerProcessContrast</key>
	<string>frameInPlatform</string>
	<key>stepIncludeParam</key>
	<string>tappableRepositoryVisibility</string>
	<key>tweenOrFlyweight</key>
	<string>integerTaskBound</string>
</dict>
</plist>
