<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsLayerStyle</key>
	<string>cartesianBuilderPressure</string>
	<key>eagerCertificateResponse</key>
	<string>behaviorPhaseBrightness</string>
	<key>listenerLikeStructure</key>
	<string>techniqueStrategyShade</string>
	<key>responsiveIntegerCoord</key>
	<string>coordinatorBeyondBuffer</string>
	<key>tickerMementoIndex</key>
	<string>cycleStyleTransparency</string>
</dict>
</plist>
