<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterKindOpacity</key>
	<string>coordinatorDespiteProxy</string>
	<key>concurrentInteractorForce</key>
	<string>brushOfForm</string>
	<key>observerProxyTension</key>
	<string>aspectratioLikeLevel</string>
	<key>parallelExponentFlags</key>
	<string>dynamicActionTransparency</string>
	<key>queryInterpreterHead</key>
	<string>mobxAgainstCycle</string>
	<key>queueFacadeFlags</key>
	<string>originalFeatureContrast</string>
	<key>stampLikeKind</key>
	<string>intensityAgainstProxy</string>
	<key>unaryLevelCoord</key>
	<string>tangentExceptMode</string>
	<key>widgetThanPrototype</key>
	<string>effectKindDirection</string>
</dict>
</plist>
