<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileFeatureForce</key>
	<string>greatRoleSkewy</string>
	<key>cursorBeyondScope</key>
	<string>tangentIncludeStructure</string>
	<key>firstChartDepth</key>
	<string>configurationDespiteActivity</string>
	<key>nodeThroughComposite</key>
	<string>iterativeRouteStyle</string>
	<key>reductionContainBridge</key>
	<string>durationObserverFlags</string>
	<key>resourceFunctionDuration</key>
	<string>spotActionInterval</string>
	<key>spotVersusShape</key>
	<string>notificationAwayValue</string>
</dict>
</plist>
