<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalMetadataPressure</key>
	<string>radioAlongParameter</string>
	<key>hashSystemState</key>
	<string>ignoredCurveCount</string>
	<key>scaleNumberContrast</key>
	<string>semanticSpriteState</string>
</dict>
</plist>
