<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaAboutPattern</key>
	<string>customContractionForce</string>
	<key>exponentTierFeedback</key>
	<string>blocContainBuffer</string>
	<key>handlerCommandMargin</key>
	<string>permissiveTweenDepth</string>
	<key>opaqueTransitionTension</key>
	<string>exceptionBridgeFlags</string>
	<key>progressbarFromVisitor</key>
	<string>resultContainStrategy</string>
	<key>radioOutsideMethod</key>
	<string>lostMatrixMode</string>
</dict>
</plist>
