<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackCommandBottom</key>
	<string>configurationTempleFormat</string>
	<key>equalizationUntilMediator</key>
	<string>eventMediatorBorder</string>
	<key>parallelCollectionTheme</key>
	<string>enabledHashBrightness</string>
	<key>riverpodTaskStyle</key>
	<string>routeFrameworkSkewy</string>
	<key>sessionStructureColor</key>
	<string>rapidNotificationEdge</string>
	<key>sizedboxAwayOperation</key>
	<string>toolOrOperation</string>
</dict>
</plist>
