<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicContainerType</key>
	<string>dynamicWorkflowAlignment</string>
	<key>directUsecaseLocation</key>
	<string>managerDespiteLevel</string>
	<key>lazyBuilderBorder</key>
	<string>widgetNearBridge</string>
	<key>numericalSubpixelSpacing</key>
	<string>secondStepMode</string>
	<key>promiseBeyondAdapter</key>
	<string>reducerAgainstProcess</string>
	<key>rapidPreviewCount</key>
	<string>symbolAmongValue</string>
	<key>scaffoldAlongVar</key>
	<string>dialogsProxyRotation</string>
	<key>tabbarThroughBridge</key>
	<string>compositionalGroupLeft</string>
</dict>
</plist>
