<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintAsFacade</key>
	<string>lossFacadeScale</string>
	<key>diversifiedAnimatedcontainerPadding</key>
	<string>actionAndLayer</string>
	<key>largeActivityTransparency</key>
	<string>routeStructureTop</string>
	<key>listviewPrototypeStatus</key>
	<string>builderAwayTask</string>
</dict>
</plist>
