<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileMomentumCenter</key>
	<string>currentObserverPadding</string>
	<key>documentPhaseStatus</key>
	<string>controllerLikeProxy</string>
	<key>listviewStagePressure</key>
	<string>handlerExceptSystem</string>
	<key>mutableResourceSkewy</key>
	<string>paddingIncludeFramework</string>
	<key>observerExceptFramework</key>
	<string>sustainableConstraintCenter</string>
	<key>screenWithoutProxy</key>
	<string>gradientLevelIndex</string>
	<key>stepAwayDecorator</key>
	<string>themeLevelVisibility</string>
	<key>substantialRepositoryPosition</key>
	<string>navigationParamAcceleration</string>
	<key>textureVariableBottom</key>
	<string>allocatorValueTail</string>
</dict>
</plist>
