<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorPrototypeResponse</key>
	<string>draggableMenuSize</string>
	<key>animatedcontainerInsideCycle</key>
	<string>menuOrStrategy</string>
	<key>effectVisitorColor</key>
	<string>typicalContainerHue</string>
	<key>handlerPhaseAcceleration</key>
	<string>signatureOrMode</string>
	<key>presenterForMethod</key>
	<string>inheritedRadioHead</string>
	<key>promiseMediatorFlags</key>
	<string>liteUnaryShade</string>
	<key>repositoryStageValidation</key>
	<string>cubitAlongParam</string>
	<key>visibleGrainVelocity</key>
	<string>navigatorUntilStage</string>
</dict>
</plist>
