<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationFromMediator</key>
	<string>modelBeyondMediator</string>
	<key>cupertinoMobxFrequency</key>
	<string>factoryDespiteContext</string>
	<key>featureParameterForce</key>
	<string>descriptionModeResponse</string>
	<key>flexibleInteractorShade</key>
	<string>observerBesideMediator</string>
	<key>histogramShapeRight</key>
	<string>taskOfActivity</string>
	<key>protectedBlocTag</key>
	<string>anchorPhaseTransparency</string>
	<key>protocolContainChain</key>
	<string>tweenLayerRight</string>
</dict>
</plist>
