<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertFromStructure</key>
	<string>cacheVersusCommand</string>
	<key>borderSystemForce</key>
	<string>statefulCertificateValidation</string>
	<key>consultativeCollectionBrightness</key>
	<string>subsequentTweenDuration</string>
	<key>consumerScopeDirection</key>
	<string>tweenParamScale</string>
	<key>consumerStageForce</key>
	<string>resourceActivityHead</string>
	<key>exponentParameterOpacity</key>
	<string>buttonScopeBound</string>
	<key>histogramFlyweightSpeed</key>
	<string>mediumRoleForce</string>
	<key>sinkVarSkewy</key>
	<string>chartStageIndex</string>
</dict>
</plist>
