<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>localizationByStage</key>
	<string>prismaticPresenterMomentum</string>
	<key>lossStyleAcceleration</key>
	<string>crudeDimensionOffset</string>
	<key>relationalAspectratioType</key>
	<string>substantialProtocolLeft</string>
	<key>similarMapCoord</key>
	<string>overlayVersusSystem</string>
	<key>singletonStructureInset</key>
	<string>scrollableCapacitiesFrequency</string>
</dict>
</plist>
