<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelAdapterFormat</key>
	<string>crudeBufferSize</string>
	<key>gridSinceParam</key>
	<string>entropyParamDirection</string>
	<key>localizationStrategyVisible</key>
	<string>curveEnvironmentSpeed</string>
	<key>screenPrototypeKind</key>
	<string>significantMethodOffset</string>
	<key>ternaryBesideAction</key>
	<string>advancedChecklistTail</string>
</dict>
</plist>
