<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaSystemCoord</key>
	<string>unsortedAnchorBehavior</string>
	<key>associatedLoopInset</key>
	<string>eventBesidePlatform</string>
	<key>buttonSingletonInterval</key>
	<string>enabledConstraintContrast</string>
	<key>containerOutsideMode</key>
	<string>pageviewAgainstStrategy</string>
	<key>getxBeyondSingleton</key>
	<string>priorityBesideLayer</string>
	<key>intuitiveCallbackState</key>
	<string>featureAlongBuffer</string>
	<key>mediocreCertificateFormat</key>
	<string>dependencyExceptStyle</string>
	<key>resourceJobVisibility</key>
	<string>cosineStrategyBottom</string>
	<key>tangentNearEnvironment</key>
	<string>commonIntegerFrequency</string>
</dict>
</plist>
