<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonProcessOffset</key>
	<string>actionExceptForm</string>
	<key>frameWithVariable</key>
	<string>signatureTierAlignment</string>
	<key>petBesideObserver</key>
	<string>paddingCompositeSkewy</string>
	<key>popupContainSingleton</key>
	<string>managerStyleHead</string>
	<key>routeOutsideMediator</key>
	<string>streamOperationScale</string>
	<key>rowSystemTail</key>
	<string>hashWorkBorder</string>
	<key>timerSinceBridge</key>
	<string>webProviderRotation</string>
</dict>
</plist>
