<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>factoryMethodTag</key>
	<string>normMementoTint</string>
	<key>lazyAllocatorDuration</key>
	<string>configurationContainParameter</string>
	<key>requestOutsideMemento</key>
	<string>concurrentObserverFlags</string>
	<key>tabbarStructureRight</key>
	<string>interactiveRowBrightness</string>
</dict>
</plist>
