<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeButtonDensity</key>
	<string>animatedTitleMomentum</string>
	<key>alignmentInAdapter</key>
	<string>rowLikeType</string>
	<key>dimensionCompositeName</key>
	<string>constRichtextMode</string>
	<key>dimensionNearPattern</key>
	<string>multiplicationValueHead</string>
	<key>errorThanVar</key>
	<string>tappableShaderBrightness</string>
	<key>groupAgainstStructure</key>
	<string>navigationDuringPattern</string>
	<key>momentumStageSkewy</key>
	<string>resourceAwayKind</string>
	<key>queryLevelDelay</key>
	<string>discardedSliderFrequency</string>
	<key>sceneInBridge</key>
	<string>layerWithScope</string>
	<key>spriteAgainstScope</key>
	<string>imperativeApertureDensity</string>
</dict>
</plist>
