<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureDuringLayer</key>
	<string>protocolPhaseOrientation</string>
	<key>inactiveModelBorder</key>
	<string>transitionNearOperation</string>
	<key>popupActionSpacing</key>
	<string>hashLikeScope</string>
	<key>sineDuringStyle</key>
	<string>multiMetadataTail</string>
	<key>subpixelStateHead</key>
	<string>normForState</string>
	<key>vectorAgainstAction</key>
	<string>requestProxyAcceleration</string>
</dict>
</plist>
