<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerViaContext</key>
	<string>sampleThroughLevel</string>
	<key>directlyGridPosition</key>
	<string>missionFacadeFlags</string>
	<key>grainViaMemento</key>
	<string>sliderWorkDistance</string>
	<key>lazyQueryRotation</key>
	<string>liteTitleBound</string>
	<key>loopThanObserver</key>
	<string>containerBufferCoord</string>
	<key>serviceVersusKind</key>
	<string>optimizerDecoratorOpacity</string>
	<key>storageMethodHead</key>
	<string>listenerExceptLayer</string>
	<key>storeFunctionInterval</key>
	<string>discardedTabviewAppearance</string>
</dict>
</plist>
