<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeCallbackSkewx</key>
	<string>bufferOfSingleton</string>
	<key>decorationBeyondSystem</key>
	<string>dialogsValueVisible</string>
	<key>reductionWithoutParameter</key>
	<string>tangentSystemCenter</string>
	<key>sophisticatedRectTransparency</key>
	<string>loopStateTop</string>
	<key>storeStyleFeedback</key>
	<string>dependencyAndProcess</string>
</dict>
</plist>
