<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousObserverVisible</key>
	<string>buttonNumberScale</string>
	<key>checklistThanParam</key>
	<string>layerValueRate</string>
	<key>cosineCommandBorder</key>
	<string>commandDecoratorAppearance</string>
	<key>mediumParticleStatus</key>
	<string>retainedOptimizerSize</string>
	<key>optimizerBeyondForm</key>
	<string>entropyCommandMomentum</string>
	<key>pivotalAsyncKind</key>
	<string>permanentHeapResponse</string>
	<key>queueNumberEdge</key>
	<string>pivotalProviderSize</string>
	<key>sequentialListviewScale</key>
	<string>resourceWorkTail</string>
	<key>utilViaAdapter</key>
	<string>configurationOfAdapter</string>
</dict>
</plist>
