<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeFutureVisible</key>
	<string>concreteStampBorder</string>
	<key>cardFromStructure</key>
	<string>zoneAboutVar</string>
	<key>cellInType</key>
	<string>statelessSwitchMomentum</string>
	<key>gemLayerPressure</key>
	<string>modulusFromTemple</string>
	<key>inheritedChartStyle</key>
	<string>eventStyleInteraction</string>
	<key>publicActionResponse</key>
	<string>reducerDecoratorFormat</string>
	<key>sineDuringType</key>
	<string>scaleUntilEnvironment</string>
	<key>tensorTickerEdge</key>
	<string>builderCommandName</string>
</dict>
</plist>
