<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoBatchAlignment</key>
	<string>mobileButtonAlignment</string>
	<key>builderContextDelay</key>
	<string>baseCommandCount</string>
	<key>directMissionResponse</key>
	<string>crudeSineOrigin</string>
	<key>durationPrototypeBottom</key>
	<string>denseEntityInterval</string>
	<key>errorTaskSkewx</key>
	<string>observerThroughMode</string>
	<key>menuWithoutState</key>
	<string>persistentSlashShade</string>
	<key>presenterWithoutJob</key>
	<string>viewNumberDistance</string>
	<key>prismaticProgressbarKind</key>
	<string>opaqueGrayscaleMargin</string>
	<key>sizeShapeAppearance</key>
	<string>allocatorBridgeTint</string>
	<key>substantialOffsetInset</key>
	<string>ignoredSizeDelay</string>
</dict>
</plist>
