<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistAwayComposite</key>
	<string>utilAroundLayer</string>
	<key>cosineAlongOperation</key>
	<string>persistentLoopRight</string>
	<key>cycleStageDelay</key>
	<string>mediocreScaffoldSpacing</string>
	<key>explicitResponsePosition</key>
	<string>particleWithBridge</string>
	<key>intensityDuringEnvironment</key>
	<string>shaderPhaseValidation</string>
	<key>sliderTaskCenter</key>
	<string>gesturedetectorExceptFlyweight</string>
</dict>
</plist>
