<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectFromMethod</key>
	<string>chartViaVisitor</string>
	<key>compositionalActionFormat</key>
	<string>advancedEntropyTint</string>
	<key>durationSystemAcceleration</key>
	<string>imageInsideFramework</string>
	<key>responsiveBrushTheme</key>
	<string>exponentAwayComposite</string>
	<key>tickerPerState</key>
	<string>cartesianGrainSkewx</string>
</dict>
</plist>
