<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionIncludeVar</key>
	<string>providerDespiteParam</string>
	<key>cursorAboutJob</key>
	<string>integerStageAppearance</string>
	<key>elasticControllerEdge</key>
	<string>largeSceneContrast</string>
	<key>featureUntilWork</key>
	<string>boxUntilStyle</string>
	<key>graphicExceptProcess</key>
	<string>behaviorThanKind</string>
	<key>integerParamShape</key>
	<string>visibleUsecaseMomentum</string>
	<key>painterDuringType</key>
	<string>cupertinoChannelTag</string>
	<key>resourceStyleTint</key>
	<string>baselineShapeDistance</string>
	<key>routerOfStage</key>
	<string>similarSpriteDistance</string>
</dict>
</plist>
