<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionTaskScale</key>
	<string>concreteAnimationDuration</string>
	<key>allocatorValueOrigin</key>
	<string>tickerWithoutAction</string>
	<key>buttonModeForce</key>
	<string>routeWorkFlags</string>
	<key>cosineAboutChain</key>
	<string>euclideanMobileContrast</string>
	<key>sinkThroughComposite</key>
	<string>notifierVariableBound</string>
	<key>topicOfState</key>
	<string>geometricControllerTag</string>
</dict>
</plist>
