<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperValueRight</key>
	<string>tappableBatchPadding</string>
	<key>draggableChapterTension</key>
	<string>roleVariablePressure</string>
	<key>frameAboutStage</key>
	<string>respectiveTextureDuration</string>
	<key>integerBeyondValue</key>
	<string>exceptionSingletonSpeed</string>
</dict>
</plist>
