<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documentFlyweightRight</key>
	<string>switchMementoVisible</string>
	<key>durationInLevel</key>
	<string>mainListenerRight</string>
	<key>immediateAxisDepth</key>
	<string>statelessThemeTension</string>
	<key>keyTitleDepth</key>
	<string>errorBufferCoord</string>
	<key>semanticEntityBrightness</key>
	<string>hyperbolicPopupFeedback</string>
	<key>titleJobInteraction</key>
	<string>sophisticatedAnchorShade</string>
</dict>
</plist>
