<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryObserverInteraction</key>
	<string>hyperbolicScaffoldTheme</string>
	<key>builderFormShape</key>
	<string>declarativeNavigationType</string>
	<key>constMetadataForce</key>
	<string>stampAsTask</string>
	<key>consumerEnvironmentInteraction</key>
	<string>frameWithScope</string>
	<key>convolutionOperationDistance</key>
	<string>referenceVarColor</string>
	<key>delicateViewVisible</key>
	<string>dependencyStructureOffset</string>
	<key>normalCaptionSkewx</key>
	<string>animationFunctionContrast</string>
	<key>paddingFlyweightIndex</key>
	<string>playbackVisitorTransparency</string>
	<key>repositoryActionFlags</key>
	<string>listenerStructureOrigin</string>
	<key>storagePerStage</key>
	<string>subscriptionThroughValue</string>
</dict>
</plist>
