<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyLayoutRotation</key>
	<string>referenceTierTag</string>
	<key>graphStrategyCount</key>
	<string>statelessViaOperation</string>
	<key>instructionStructureFeedback</key>
	<string>positionedOutsideVariable</string>
	<key>scrollVersusInterpreter</key>
	<string>temporaryEffectSize</string>
	<key>smartPriorityTransparency</key>
	<string>invisibleWidgetMode</string>
	<key>usedMusicShape</key>
	<string>inkwellParameterDistance</string>
</dict>
</plist>
