<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customButtonTail</key>
	<string>batchMethodBrightness</string>
	<key>denseCubeColor</key>
	<string>usageEnvironmentForce</string>
	<key>discardedRowScale</key>
	<string>completionBridgeTransparency</string>
	<key>expandedBesideStructure</key>
	<string>deferredRepositoryKind</string>
	<key>indicatorTypeRotation</key>
	<string>workflowPrototypeOrientation</string>
	<key>pointNearPrototype</key>
	<string>providerFunctionContrast</string>
	<key>popupUntilMethod</key>
	<string>finalBuilderScale</string>
	<key>providerTypeForce</key>
	<string>accordionScaffoldCoord</string>
	<key>reusableQueueContrast</key>
	<string>agileEventStatus</string>
</dict>
</plist>
