<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorForSystem</key>
	<string>unsortedBlocInset</string>
	<key>constraintUntilChain</key>
	<string>listviewStageFlags</string>
	<key>intensityAmongJob</key>
	<string>deferredTweenAppearance</string>
	<key>priorScreenDuration</key>
	<string>intensityByTemple</string>
	<key>tweenLikeFlyweight</key>
	<string>intuitiveTextureIndex</string>
	<key>uniformEntityHue</key>
	<string>hyperbolicTransformerOffset</string>
</dict>
</plist>
