<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionAtFlyweight</key>
	<string>autoBoxshadowDistance</string>
	<key>equipmentNearComposite</key>
	<string>adaptiveTextureTail</string>
	<key>frameContextCoord</key>
	<string>viewAtParameter</string>
	<key>greatChartAcceleration</key>
	<string>rapidChecklistInterval</string>
	<key>originalObserverEdge</key>
	<string>baseAgainstCycle</string>
	<key>queueJobDirection</key>
	<string>intuitiveScreenMode</string>
	<key>radiusStageCenter</key>
	<string>contractionProxyMomentum</string>
	<key>richtextCommandBound</key>
	<string>giftLevelInterval</string>
	<key>serviceParameterPadding</key>
	<string>delicateNormEdge</string>
	<key>skirtObserverMargin</key>
	<string>animatedcontainerForParameter</string>
</dict>
</plist>
