<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionDescriptorDelay</key>
	<string>resultAdapterType</string>
	<key>eventTempleDelay</key>
	<string>secondReductionPadding</string>
	<key>getxShapeStatus</key>
	<string>tweenAsFacade</string>
	<key>groupFlyweightInteraction</key>
	<string>toolBeyondSystem</string>
	<key>queueActivityDuration</key>
	<string>invisibleBuilderKind</string>
	<key>reactiveTopicLocation</key>
	<string>independentIntensityHue</string>
	<key>reusableLabelResponse</key>
	<string>unsortedExpandedDepth</string>
	<key>tabbarThanValue</key>
	<string>cubeSingletonShape</string>
	<key>unsortedRichtextLeft</key>
	<string>scrollInFacade</string>
</dict>
</plist>
