<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsStateInterval</key>
	<string>presenterThanParam</string>
	<key>exceptionKindIndex</key>
	<string>documentSinceValue</string>
	<key>hyperbolicCompleterOffset</key>
	<string>interfaceTaskStatus</string>
	<key>indicatorContextRate</key>
	<string>layerSinceLevel</string>
	<key>projectSingletonBottom</key>
	<string>nativeParticleState</string>
	<key>robustConsumerVisibility</key>
	<string>listenerCommandSpacing</string>
	<key>toolActivityShape</key>
	<string>durationAndMethod</string>
	<key>transitionPerStyle</key>
	<string>decorationUntilParameter</string>
</dict>
</plist>
