<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custompaintForScope</key>
	<string>radiusWithoutAction</string>
	<key>layerShapeCount</key>
	<string>callbackDecoratorCount</string>
	<key>layoutInStrategy</key>
	<string>vectorDuringTask</string>
	<key>rapidRowStyle</key>
	<string>providerBridgeRotation</string>
	<key>stateOutsideTier</key>
	<string>actionLayerAcceleration</string>
	<key>textureTierCoord</key>
	<string>graphAroundActivity</string>
	<key>titleExceptVariable</key>
	<string>listenerStrategyState</string>
</dict>
</plist>
