<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customLayoutVisible</key>
	<string>coordinatorDuringFramework</string>
	<key>graphicAwayLevel</key>
	<string>subsequentResolverRate</string>
	<key>heroAmongBuffer</key>
	<string>mapNumberContrast</string>
	<key>interactiveSensorType</key>
	<string>fixedAlignmentOrigin</string>
	<key>pinchableRouteCoord</key>
	<string>fusedStreamDuration</string>
	<key>providerFromParameter</key>
	<string>statelessNumberColor</string>
	<key>signFrameworkTag</key>
	<string>richtextPrototypePadding</string>
	<key>singletonViaDecorator</key>
	<string>columnAgainstStructure</string>
</dict>
</plist>
