<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityVisitorRight</key>
	<string>lossInEnvironment</string>
	<key>binaryIncludeJob</key>
	<string>storeLikeMethod</string>
	<key>mapAndWork</key>
	<string>tangentLayerVelocity</string>
	<key>popupJobOpacity</key>
	<string>adaptiveStampBorder</string>
	<key>specifierViaInterpreter</key>
	<string>bitrateOutsideComposite</string>
</dict>
</plist>
