<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncOperationOffset</key>
	<string>subpixelAsShape</string>
	<key>chartUntilLayer</key>
	<string>secondObserverOpacity</string>
	<key>displayableCubitType</key>
	<string>navigatorDecoratorTop</string>
	<key>gridviewInProcess</key>
	<string>webSubpixelDirection</string>
	<key>reducerVersusStage</key>
	<string>particleInObserver</string>
	<key>secondInkwellLocation</key>
	<string>variantValueDuration</string>
	<key>skinBesideComposite</key>
	<string>cubitTierTheme</string>
</dict>
</plist>
