<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticOffsetVisible</key>
	<string>touchViaAction</string>
	<key>channelThroughFramework</key>
	<string>playbackWithVar</string>
	<key>marginBesideFunction</key>
	<string>builderUntilFunction</string>
	<key>particleSinceForm</key>
	<string>integerProcessPadding</string>
	<key>specifyRowVisible</key>
	<string>groupContextColor</string>
</dict>
</plist>
