<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticActivityContrast</key>
	<string>progressbarCommandAcceleration</string>
	<key>playbackEnvironmentVisibility</key>
	<string>workflowKindMargin</string>
	<key>protocolInsideForm</key>
	<string>resilientModalOrientation</string>
	<key>sensorIncludeNumber</key>
	<string>textStateFeedback</string>
	<key>usageVisitorSize</key>
	<string>rapidMatrixShade</string>
</dict>
</plist>
