<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateObserverAppearance</key>
	<string>resourceVarName</string>
	<key>flexiblePlaybackHead</key>
	<string>contractionDuringStrategy</string>
	<key>invisibleFrameInset</key>
	<string>optionForStrategy</string>
	<key>largeNavigatorAppearance</key>
	<string>diffableAsyncFlags</string>
	<key>opaqueStampTail</key>
	<string>sustainableGridSkewx</string>
	<key>pinchableQueryPressure</key>
	<string>alignmentBesideCommand</string>
	<key>requiredDependencyStatus</key>
	<string>allocatorActionOffset</string>
	<key>sinkAgainstState</key>
	<string>histogramKindShape</string>
</dict>
</plist>
