<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeDescriptionCount</key>
	<string>associatedAsyncHue</string>
	<key>basicConfigurationAcceleration</key>
	<string>relationalCoordinatorTop</string>
	<key>listenerFacadeMomentum</key>
	<string>euclideanNodeStyle</string>
	<key>utilWorkFormat</key>
	<string>diffableLabelMargin</string>
</dict>
</plist>
