<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedMultiplicationDistance</key>
	<string>stackCommandContrast</string>
	<key>cellPlatformTheme</key>
	<string>agileButtonTension</string>
	<key>consumerEnvironmentContrast</key>
	<string>referenceFrameworkLeft</string>
	<key>lostAspectVisibility</key>
	<string>activeDurationScale</string>
	<key>protectedChapterRotation</key>
	<string>switchInsideMediator</string>
	<key>titlePrototypeVisible</key>
	<string>segmentModeTail</string>
	<key>tweenAgainstEnvironment</key>
	<string>rectInterpreterDirection</string>
</dict>
</plist>
