<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentBeyondObserver</key>
	<string>equalizationProcessBehavior</string>
	<key>captionViaTemple</key>
	<string>observerBesideStyle</string>
	<key>eagerTopicTheme</key>
	<string>subpixelJobFlags</string>
	<key>functionalExceptionTail</key>
	<string>buttonProxyKind</string>
	<key>marginTaskDuration</key>
	<string>frameOperationSpeed</string>
	<key>precisionTempleState</key>
	<string>nodeOfFramework</string>
	<key>riverpodAmongPhase</key>
	<string>coordinatorAwayVar</string>
</dict>
</plist>
