<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityOutsideProcess</key>
	<string>radioForCommand</string>
	<key>appbarOfPrototype</key>
	<string>widgetProxyAppearance</string>
	<key>bufferVarTheme</key>
	<string>textActivityHead</string>
	<key>handlerParamBound</key>
	<string>projectionPlatformTension</string>
	<key>semanticAppbarFlags</key>
	<string>granularTextRotation</string>
	<key>signatureInsideMemento</key>
	<string>petNumberPadding</string>
	<key>stateContextBrightness</key>
	<string>assetAtLayer</string>
</dict>
</plist>
