<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityWithVar</key>
	<string>resilientEventLeft</string>
	<key>grainWorkTint</key>
	<string>canvasDuringVisitor</string>
	<key>hashThroughVar</key>
	<string>symmetricDescriptorBottom</string>
	<key>lossAsMemento</key>
	<string>interactiveOffsetLeft</string>
	<key>nodeOperationHead</key>
	<string>oldTextDuration</string>
	<key>prismaticScaffoldVisibility</key>
	<string>groupFlyweightName</string>
	<key>signatureNumberState</key>
	<string>controllerProxyAlignment</string>
	<key>textureStructureCenter</key>
	<string>handlerTempleRate</string>
</dict>
</plist>
