<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationOperationCount</key>
	<string>convolutionAsForm</string>
	<key>callbackThanScope</key>
	<string>cartesianFutureOpacity</string>
	<key>curvePatternMomentum</key>
	<string>disabledProviderVisibility</string>
	<key>lostRemainderAppearance</key>
	<string>rapidMetadataDuration</string>
	<key>parallelCompleterFormat</key>
	<string>rowShapeMomentum</string>
	<key>pinchableSizeMode</key>
	<string>factoryChainSpacing</string>
	<key>statelessFrameworkTint</key>
	<string>coordinatorAwayPhase</string>
</dict>
</plist>
