<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonMethodOrigin</key>
	<string>prevListenerOrientation</string>
	<key>constCurveDirection</key>
	<string>textfieldCycleTint</string>
	<key>customizedObserverPressure</key>
	<string>decorationFlyweightIndex</string>
	<key>eagerVariantOpacity</key>
	<string>containerOutsideNumber</string>
	<key>providerAwayFunction</key>
	<string>protocolAgainstVariable</string>
	<key>specifyHistogramAppearance</key>
	<string>radiusProxyCount</string>
	<key>variantByLayer</key>
	<string>finalModelFrequency</string>
</dict>
</plist>
