<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedSceneMargin</key>
	<string>easySliderTop</string>
	<key>descriptionFlyweightAcceleration</key>
	<string>containerVersusMediator</string>
	<key>discardedShaderTension</key>
	<string>variantAmongAction</string>
	<key>publicMusicMode</key>
	<string>brushFromForm</string>
	<key>stepSingletonSpacing</key>
	<string>rectUntilAction</string>
	<key>subtleAnimatedcontainerRate</key>
	<string>originalMarginSaturation</string>
	<key>variantMethodBrightness</key>
	<string>serviceSinceType</string>
</dict>
</plist>
