<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertScopeCount</key>
	<string>reactiveInjectionSkewx</string>
	<key>configurationAlongStyle</key>
	<string>grayscalePlatformBorder</string>
	<key>notifierNearLevel</key>
	<string>invisibleExtensionMode</string>
	<key>subsequentDrawerSaturation</key>
	<string>protocolActivityCount</string>
	<key>workflowNumberName</key>
	<string>backwardMasterFormat</string>
</dict>
</plist>
