<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerDocumentShape</key>
	<string>permanentGrayscaleSaturation</string>
	<key>bitrateAroundCycle</key>
	<string>optimizerInInterpreter</string>
	<key>captionCycleShade</key>
	<string>responseForSystem</string>
	<key>columnPlatformEdge</key>
	<string>offsetInterpreterOrientation</string>
	<key>curveMediatorHead</key>
	<string>otherMobxStyle</string>
	<key>fusedPrecisionFeedback</key>
	<string>mutableTweenFrequency</string>
	<key>gestureNumberForce</key>
	<string>bufferAdapterSpeed</string>
	<key>newestStreamCoord</key>
	<string>builderInStructure</string>
	<key>transitionAboutInterpreter</key>
	<string>notifierLayerSaturation</string>
	<key>unactivatedExponentAcceleration</key>
	<string>injectionVariableDirection</string>
</dict>
</plist>
