<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetScopeLeft</key>
	<string>optionProxyValidation</string>
	<key>cupertinoCubitDirection</key>
	<string>dynamicImageStyle</string>
	<key>difficultIntensityCenter</key>
	<string>behaviorDuringForm</string>
	<key>extensionFormSaturation</key>
	<string>comprehensiveIconTheme</string>
	<key>normalViewStyle</key>
	<string>tangentThanParameter</string>
	<key>transitionStageContrast</key>
	<string>scaffoldAsActivity</string>
</dict>
</plist>
