<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>handlerDespiteVariable</key>
	<string>functionalStoreBorder</string>
	<key>labelOrTier</key>
	<string>crudeFutureDelay</string>
	<key>liteEffectFeedback</key>
	<string>disparateFragmentMode</string>
	<key>nativeAnimationValidation</key>
	<string>stateStrategyLeft</string>
	<key>nodeVisitorPressure</key>
	<string>typicalPointEdge</string>
	<key>robustListenerStyle</key>
	<string>isolateWithoutKind</string>
	<key>transitionKindSpeed</key>
	<string>instructionLikeProcess</string>
</dict>
</plist>
