<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedConfigurationLocation</key>
	<string>transformerFrameworkFrequency</string>
	<key>basicTextVisible</key>
	<string>effectVersusWork</string>
	<key>captionScopeRotation</key>
	<string>sensorOperationMargin</string>
	<key>fixedReducerFlags</key>
	<string>menuMediatorAcceleration</string>
	<key>gateSinceSingleton</key>
	<string>enabledLoopSize</string>
	<key>interactorDespiteValue</key>
	<string>layoutUntilLevel</string>
	<key>substantialChartShade</key>
	<string>independentMonsterDuration</string>
</dict>
</plist>
