<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardShapeDuration</key>
	<string>heapEnvironmentDistance</string>
	<key>chapterThroughTask</key>
	<string>prevImageState</string>
	<key>durationWithoutKind</key>
	<string>routeValueSize</string>
	<key>errorWithDecorator</key>
	<string>displayableButtonCenter</string>
	<key>modelSingletonTag</key>
	<string>specifierFacadeSkewy</string>
	<key>overlayLikeBridge</key>
	<string>sortedLogarithmBrightness</string>
	<key>utilForSystem</key>
	<string>localizationAlongContext</string>
</dict>
</plist>
