<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheAgainstForm</key>
	<string>geometricGestureInterval</string>
	<key>delegateSystemLocation</key>
	<string>particleActivityOpacity</string>
	<key>flexibleChartSize</key>
	<string>tableContextDuration</string>
	<key>hardContractionName</key>
	<string>publicViewMomentum</string>
</dict>
</plist>
