<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorSinceStructure</key>
	<string>viewExceptChain</string>
	<key>asyncDecorationEdge</key>
	<string>containerVersusNumber</string>
	<key>completerAlongCommand</key>
	<string>persistentAxisLeft</string>
	<key>comprehensiveMasterRate</key>
	<string>persistentAlphaTail</string>
	<key>cubeNumberHue</key>
	<string>appbarAroundScope</string>
	<key>imperativeReductionCoord</key>
	<string>spineWorkSize</string>
	<key>oldAxisOrientation</key>
	<string>listviewExceptComposite</string>
	<key>persistentViewTransparency</key>
	<string>localCurveRotation</string>
	<key>presenterAmongAction</key>
	<string>asynchronousLocalizationCount</string>
</dict>
</plist>
