<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedStoreContrast</key>
	<string>marginInsideStrategy</string>
	<key>animationVisitorBrightness</key>
	<string>capacitiesPlatformResponse</string>
	<key>constControllerType</key>
	<string>crudeContainerTheme</string>
	<key>entityAsOperation</key>
	<string>subpixelVisitorPadding</string>
	<key>euclideanNibDistance</key>
	<string>effectAndPrototype</string>
	<key>musicLevelTail</key>
	<string>techniqueAndState</string>
	<key>specifyStoryboardTheme</key>
	<string>customizedSwitchOpacity</string>
</dict>
</plist>
