<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>instructionScopeType</key>
	<string>eagerDurationFormat</string>
	<key>responseVariableBrightness</key>
	<string>composablePetAcceleration</string>
	<key>viewOfFunction</key>
	<string>ephemeralTextMomentum</string>
</dict>
</plist>
